@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,400i,600&subset=cyrillic');


// // Color scheme
@import "themes/_scheme-default";

@import "framework7/framework7.material.scss";
@import "framework7/framework7.material.colors.scss"; 
//
//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 true!default;
$use-btn-group:                false!default;
$use-input-group:              false!default;
$use-table:                    true!default;
$use-color-table:              false!default;
$use-column-table:             true!default;
$use-color-text:               true!default;

//modules
$use-accordion:                true!default;
$use-alerts:                   true!default;
$use-breadcrumb:               true!default;
$use-pagination:               true!default;
$use-pager:                    true!default;
$use-space:                    true!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    true!default;
// grids
$use-adaptive:                 false!default;
$use-flexbox:                  true!default;
// plugins
$use-animations:               false!default;
$debug-mode:                   false!default;



// // Mixins
 @import "helpers/*.scss";

// // Plugins
// @import "vendors/*.scss";

// // Base
// @import "base/*.scss";

// // Partials
// @import "partials/*.scss";

// // Modules
// @import "modules/*.scss";

// // Pages
 @import "pages/*.scss";

