ul
    li.accordion-item-nojs.accordion-item--menu
        a(href="auth.html").item-link-nojs.item-content.external
            .item-media
                i.icon.icon--cabinet-w
            .item-inner
                .item-title АВТОРИЗАЦИЯ
    li.accordion-item-nojs.accordion-item--menu
        a(href="buy-ticket.html").item-link-nojs.item-content.external
            .item-media
                i.icon.icon--success-w
            .item-inner
                .item-title ПОКУПКА БИЛЕТА
    li.accordion-item.accordion-item--menu
        a(href="#").item-link.item-content
            .item-media
                i.icon.icon--schedule-w
            .item-inner
                .item-title РАСПИСАНИЕ
        .accordion-item-content
            .list-block
                a(href="schedule.html").item-link.item-content.external
                    .item-inner
                        .item-title В аэропорт
                a(href="schedule.html").item-link.item-content.external
                    .item-inner
                        .item-title В Москву
    li.accordion-item-nojs.accordion-item--menu
        a(href="tariffs.html").item-link-nojs.item-content.external
            .item-media
                i.icon.icon--tariff-w
            .item-inner
                .item-title ТАРИФЫ
    li.accordion-item.accordion-item--menu
        a(href="#").item-link.item-content
            .item-media
                i.icon.icon--info-w
            .item-inner
                .item-title ИНФОРМАЦИЯ
        .accordion-item-content
            .list-block
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Где купить билеты
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Льготный проезд
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Правила проезда
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Бесконтактная оплата
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Часто задаваемые вопросы
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Мобильное приложение
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Журнал Аэроэкспресс
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Инфографика
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Обратная связь
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Правила покупки билета
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title «Аэроэкспресс Бонус»
                a(href="info.html").item-link.item-content.external
                    .item-inner
                        .item-title Персональный помощник
    li.accordion-item.accordion-item--menu
        a(href="#").item-link.item-content
            .item-media
                i.icon.icon--aeroports-w
            .item-inner
                .item-title ТАБЛО АЭРОПОРТОВ
        .accordion-item-content
            .list-block
                a(href="airports.html").item-link.item-content.external
                    .item-inner
                        .item-title Шереметьево
                a(href="airports.html").item-link.item-content.external
                    .item-inner
                        .item-title Домодедово
                a(href="airports.html").item-link.item-content.external
                    .item-inner
                        .item-title Внуково