.popup.demo-popup
    .page-content
        a(href="#").link.close-popup: i.icon.icon--close-w
        .content-block
            p.text-lg 4855 — Париж
            .row.text-md
                .col-50
                    p.light Дата
                    p.light По расписанию
                    p.light Код компании
                    p.light Рейс
                    p.light Направление
                    p.light Терминал
                    p.light Статус
                .col-50
                    p 31 марта
                    p 11:45
                    p AF
                    p 4855
                    p Париж
                    p D
                    p Отменен

.popup.demo-popup2
    .page-content
        a(href="#").link.close-popup: i.icon.icon--close-w
        .content-block
            p.text-lg Информация о билете
            .row.text-md.text-ellipsis
                .col-50
                    p.light № билета
                    p.light № заказа
                    p.light Владелец
                    p.light Дата поездки
                    p.light Тариф
                    p.light Стоимость
                    p.light Время оплаты
                .col-50
                    p 1000000033514127
                    p 3645350
                    p Великоконстантинопольский А.С
                    p 16.09.2014
                    p Стандарт
                    p 1000
                    p 15.09.2014 23:14
            p: i Билет действует на всех направлениях компании Аэроэкспресс
            p.text--primary.text-danger Действует до 03:00 следующих суток

.popup.demo-popup3
    .page-content
        a(href="#").link.close-popup: i.icon.icon--close-w
        .content-block
            p.text-lg Правила пользования электронным билетом
            p  Внимание! Соблюдайте правила безопасности на железнодорожном транспорте. Мобильный электронный билет не предназначен для печати. Для прохода через турникет приложите экран мобильного телефона с QR-кодом-билета к считывателю.

.popup.ticket-popup
    .page-content
        a(href="#").link.close-popup: i.icon.icon--close-w
        .swiper-custom
            .swiper-container
                .swiper-pagination
                .swiper-button-prev: i.icons.icon-back
                .swiper-button-next: i.icons.icon-forward
                .swiper-wrapper
                    .swiper-slide(data-hash="slide1")
                        .list-block.list-block--stripped.margbot10.margtop0
                            .item-content
                                .item-inner
                                    span.text-xs Билет №1000000033514129
                        .list-block.inputs-list.margtop0.margbot0.marg-list
                            .accordion-list--choose.list-block.margtop0.margbot0
                                .item-content
                                    .item-inner.pad0
                                        .item-input.all--js
                                            input.form-control(type="text", placeholder="Фамилия")
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", placeholder="Инициалы")
                                .accordion-item
                                    a(href="#").item-link.item-content
                                        .item-inner.item-inner--marg
                                            .item-title.document-name--js: span.text-default Вид документа
                                    .accordion-item-content
                                        .content-block
                                            .list-block.document--js
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Паспорт")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Паспорт
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Права")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Права
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", placeholder="Номер документа")
                    .swiper-slide(data-hash="slide2")
                        .list-block.list-block--stripped.margbot10.margtop0
                            .item-content
                                .item-inner
                                    span.text-xs Билет №1000000033514129
                        .list-block.inputs-list.margtop0.margbot0.marg-list
                            .accordion-list--choose.list-block.margtop0.margbot0
                                .item-content
                                    .item-inner.pad0
                                        .item-input.all--js
                                            input.form-control(type="text", placeholder="Фамилия")
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", placeholder="Инициалы")
                                .accordion-item
                                    a(href="#").item-link.item-content
                                        .item-inner.item-inner--marg
                                            .item-title.document-name--js: span.text-default Вид документа
                                    .accordion-item-content
                                        .content-block
                                            .list-block.document--js
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Паспорт")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Паспорт
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Права")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Права
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", placeholder="Номер документа")
                        .margtop10
                            a.btn.btn--primary.btn--full.external(href="") СОХРАНИТЬ ДАННЫЕ
                            a.btn.btn--primary.btn--full.external.b-top1d(href="") СОХРАНИТЬ И ЗАПОЛНИТЬ ТАК ВСЕ БИЛЕТЫ
                            a.btn.btn--default.btn--full.external(href="") СОХРАНИТЬ КАК ШАБЛОН
                    .swiper-slide(data-hash="slide3")
                        .list-block.list-block--stripped.margbot10.margtop0
                            .item-content
                                .item-inner
                                    span.text-xs Билет №1000000033514129
                        .list-block.list-block--stripped.margtop10.margbot10.marg-list
                            .accordion-list--choose.list-block.margtop0.margbot0
                                .accordion-item
                                    a(href="#").item-link.item-content
                                        .item-media
                                            i.icon.icon--cabinet
                                        .item-inner
                                            .item-title.text--info Заполните билеты из шаблона
                                    .accordion-item-content
                                        .content-block
                                            .list-block.inputs-list.form-check--tckjs
                                                ul
                                                    li.form-item--js
                                                        .item-content
                                                            .item-inner
                                                                .item-title.floating-label Паспорт
                                                                .item-input
                                                                    input.form-control(type="text", value="Великоконстантинопольский А.С.")
                                                    li.form-item--js
                                                        .item-content.focus-state
                                                            .item-inner
                                                                .item-title.floating-label Водительское удостоверение
                                                                .item-input
                                                                    input.form-control(type="text", value="Бо А.")
                        .list-block.inputs-list.margtop0.margbot0.marg-list
                            .accordion-list--choose.list-block.margtop0.margbot0
                                .item-content
                                    .item-inner.pad0
                                        .item-input.all--js
                                            input.form-control(type="text", placeholder="Фамилия")
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", placeholder="Инициалы")
                                .accordion-item
                                    a(href="#").item-link.item-content
                                        .item-inner.item-inner--marg
                                            .item-title.document-name--js: span.text-default Вид документа
                                    .accordion-item-content
                                        .content-block
                                            .list-block.document--js
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Паспорт")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Паспорт
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Права")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Права
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", placeholder="Номер документа")

.popup.ticket-popup1
    .page-content
        a(href="#").link.close-popup: i.icon.icon--close-w
        .swiper-custom
            .swiper-container
                .swiper-pagination
                .swiper-button-prev: i.icons.icon-back
                .swiper-button-next: i.icons.icon-forward
                .swiper-wrapper
                    .swiper-slide(data-hash="slide1")
                        .list-block.list-block--stripped.margbot10.margtop0
                            .item-content
                                .item-inner
                                    span.text-xs Билет №1000000033514129
                        .list-block.inputs-list.margtop0.margbot0.marg-list
                            .accordion-list--choose.list-block.margtop0.margbot0
                                .item-content
                                    .item-inner.pad0
                                        .item-input.all--js
                                            input.form-control(type="text", value="Великоконстантинопольский")
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", value="А.С.")
                                .accordion-item.active
                                    a(href="#").item-link.item-content
                                        .item-inner.item-inner--marg
                                            .item-title.document-name--js: span.text--info Паспорт
                                    .accordion-item-content
                                        .content-block
                                            .list-block.document--js
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Паспорт")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Паспорт
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Права")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Права
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", value="хххххх1234")
                        .margtop10
                            a.btn.btn--primary.btn--full.external(href="") СОХРАНИТЬ ДАННЫЕ
                            a.btn.btn--default.btn--full.external(href="") ОЧИСТИТЬ ПОЛЯ
                    .swiper-slide(data-hash="slide2")
                        .list-block.list-block--stripped.margbot10.margtop0
                            .item-content
                                .item-inner
                                    span.text-xs Билет №1000000033514129
                        .list-block.inputs-list.margtop0.margbot0.marg-list
                            .accordion-list--choose.list-block.margtop0.margbot0
                                .item-content
                                    .item-inner.pad0
                                        .item-input.all--js
                                            input.form-control(type="text", value="Великоконстантинопольский")
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", value="А.С.")
                                .accordion-item.active
                                    a(href="#").item-link.item-content
                                        .item-inner
                                            .item-title.document-name--js: span.text--info Паспорт
                                    .accordion-item-content
                                        .content-block
                                            .list-block.document--js
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Паспорт")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Паспорт
                                                label.label-radio.item-content
                                                    input(type="radio", name="ks-radio1", value="Права")
                                                    .item-media
                                                    .item-inner
                                                        .item-title Права
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", value="хххххх1234")
                        .margtop10
                            a.btn.btn--primary.btn--full.external(href="") СОХРАНИТЬ ДАННЫЕ
                            a.btn.btn--default.btn--full.external(href="") ОЧИСТИТЬ ПОЛЯ
                    .swiper-slide(data-hash="slide3")
                        .list-block.list-block--stripped.margbot10.margtop0
                            .item-content
                                .item-inner
                                    span.text-xs Билет №1000000033514129
                        .list-block.inputs-list.margtop0.margbot0.marg-list
                            .accordion-list--choose.list-block.margtop0.margbot0
                                .item-content
                                    .item-inner.pad0
                                        .item-input.all--js
                                            input.form-control(type="text", value="Великоконстантинопольский")
                                .item-content
                                    .item-inner.pad0
                                        .item-input
                                            input.form-control(type="text", value="А.С.")
                                .accordion-item.active
.popup.ticket-popup2
    .page-content
        a(href="#").link.close-popup: i.icon.icon--close-w
        .swiper-custom
            .swiper-container
                .swiper-pagination
                .swiper-button-prev: i.icons.icon-back
                .swiper-button-next: i.icons.icon-forward
                .swiper-wrapper
                    .swiper-slide(data-hash="slide11")
                        .list-block.list-block--stripped.margbot10.margtop0
                            .item-content
                                .item-inner
                                    span.text-xs Билет №1000000033514129
                        .accordion-list--choose.list-block.margtop0.margbot0
                             .accordion-item
                                a(href="#").item-link.item-content.height50
                                    .item-media
                                        i.icon.icon--cabinet
                                    .item-inner
                                        .item-title.all-name--js
                                            span.main Заполнить билет из шаблона
                                            span.submain
                                .accordion-item-content.accordion-main-arr
                                    .content-block
                                        .list-block
                                            .item-content.b-top1
                                                .item-inner.pad0
                                                    .item-input.all--js
                                                        input.form-control(type="text", placeholder="Фамилия")
                                            .item-content
                                                .item-inner.pad0
                                                    .item-input
                                                        input.form-control(type="text", placeholder="Инициалы")
                                            .accordion-item.b-top1
                                                a(href="#").item-link.item-content
                                                    .item-inner
                                                        .item-title.document-name--js: span.text-default Вид документа
                                                .accordion-item-content
                                                    .content-block
                                                        .list-block.document--js
                                                            label.label-radio.item-content
                                                                input(type="radio", name="ks-radio1", value="Паспорт")
                                                                .item-media
                                                                .item-inner
                                                                    .item-title Паспорт
                                                            label.label-radio.item-content
                                                                input(type="radio", name="ks-radio1", value="Права")
                                                                .item-media
                                                                .item-inner
                                                                    .item-title Права
                                            .item-content.b-top1
                                                .item-inner.pad0
                                                    .item-input
                                                        input.form-control(type="text", placeholder="Номер документа")
                        .margtop10
                            a.btn.btn--default.btn--full.external(href="") ЗАКРЫТЬ
                    .swiper-slide(data-hash="slide12")
                        .list-block.list-block--stripped.margbot10.margtop0
                            .item-content
                                .item-inner
                                    span.text-xs Билет №1000000033514129
                        .accordion-list--choose.list-block.margtop0.margbot0
                             .accordion-item
                                a(href="#").item-link.item-content.height50
                                    .item-media
                                        i.icon.icon--cabinet
                                    .item-inner
                                        .item-title.all-name--js
                                            span.submain Паспорт
                                            span.main: span.text--info Великоконстантинопольский А.С
                                .accordion-item-content.accordion-main-arr
                                    .content-block
                                        .list-block
                                            .item-content.b-top1
                                                .item-inner.pad0
                                                    .item-input.all--js
                                                        input.form-control(type="text", value="Великоконстантинопольский")
                                            .item-content
                                                .item-inner.pad0
                                                    .item-input
                                                        input.form-control(type="text", value="А.С.")
                                            .accordion-item.b-top1
                                                a(href="#").item-link.item-content
                                                    .item-inner
                                                        .item-title.document-name--js: span.text-info Паспорт
                                                .accordion-item-content
                                                    .content-block
                                                        .list-block.document--js
                                                            label.label-radio.item-content
                                                                input(type="radio", name="ks-radio1", value="Паспорт")
                                                                .item-media
                                                                .item-inner
                                                                    .item-title Паспорт
                                                            label.label-radio.item-content
                                                                input(type="radio", name="ks-radio1", value="Права")
                                                                .item-media
                                                                .item-inner
                                                                    .item-title Права
                                            .item-content.b-top1
                                                .item-inner.pad0
                                                    .item-input
                                                        input.form-control(type="text", value="xxxxx1234")
                        .margtop10
                            a.btn.btn--primary.btn--full.external(href="") СОХРАНИТЬ ДАННЫЕ
                            a.btn.btn--default.btn--full.external(href="") ОЧИСТИТЬ ПОЛЯ
                            a.btn.btn--default.btn--full.external(href="") ОТМЕНИТЬ
                    