.content-block.text-md.b-top1
    .content-block-inner
        p.text--danger 10 поездок
        p Блокировка на 10 минут после каждого использования турникета Аэроэкспресс.
        p Действует в течение 30 дней, включая день покупки