.content-block.text-md.b-top1
    a.btn.btn--primary.btn--full.external(href="#") КУПИТЬ БИЛЕТ
    .content-block-inner
        p.text--danger 1 поездка в вагоне повышенной комфортности с гарантированным посадочным местом.
        p Действителен в соответствии с датой, временем и направлением, указанными в проездном документе.
        p: i 10% скидка на билеты бизнес-класса в кассах терминалов Аэроэкспресс при оплате картами: Gold MasterCard®, World MasterCard®, Platinum MasterCard®, World MasterCard Black Edition®, World Elite™ MasterCard®, World Signia MasterCard®.