.content-block.text-md.b-top1
    .content-block-inner
        p Для физических лиц, провозящих до 50 кг багажа дополнительно к установленной норме. Установленная норма багажа: 36 кг, сумма 3-х измерений не должна превышать 180 см