//
// Pages -> Index
// ------------------------------------

* {
  &, 
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #ccd1d7 100%);
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ccd1d7 100%);
  background: linear-gradient(135deg, #ffffff 0%,#ccd1d7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccd1d7',GradientType=1 );
  //background-position: fixed;
  background-attachment: fixed;
}
.text-ellipsis p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.page-main {
  max-width: 600px;
  min-width: 320px;
  min-height: 100%;
  margin: auto;
  //background: #ffffff;
  //background: -moz-linear-gradient(-45deg, #ffffff 0%, #ccd1d7 100%);
  //background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ccd1d7 100%);
  //background: linear-gradient(135deg, #ffffff 0%,#ccd1d7 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccd1d7',GradientType=1 );
}

img {
  max-width: 100%;
  vertical-align: middle;
}


.text--info {
    color: $color-type-1b !important;
}
.text--primary {
    color: $base-color-main !important;
}
.text--danger {
    color: $base-color-main !important;
}
.text--normal {
    white-space: normal !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.list-block--stripped {
  .item-content:not(label) {
    background: #fff;
    //border-bottom: 1px solid $gray-lighten;
    + .item-content:not(label) {
      border-top: 1px solid $gray-lighten;
    }
  }
}
.list-block--stripped-label {
  .item-content {
    background: #fff;
    + .item-content {
      border-top: 1px solid $gray-lighten;
    }
  }
}

.social {
  margin: 20px 0 40px;
  a {
    display: block;
    height: 26px;
  }
  &__item {
    background-color: $white;
    padding: 12px;
    & + & {
      border-left: 1px solid $gray-lighten;
    }
  }
  .row .col-33 {
    width: 33.33333%;
    width: -webkit-calc((100%) / 3);
    width: -moz-calc((100%) / 3);
    width: calc((100%) / 3);
  }
}
.ticket {
  &-block {
    display: none;
    background-color: #fff;
    font-size: 30px;
    height: 60px;
    border-top: 1px solid $gray-lighten;
    padding: 7px 0;
    color: $color-type-1b;
    position: relative;
    margin-bottom: 3px;
    &::after {
      content: '';
      width: 100%;
      height: 32px;
      background: url('../images/icons/Ticket.svg') center bottom repeat-x;
      background-size: 320px auto;
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
  &-btn {
    margin: 10px 0 40px;
  }
}

.picker-calendar.picker-modal {
  border-top: 1px solid $gray-lighten;
}

.accordion-list--choose {
  .item-media + .item-inner {
    padding: 8px 16px 8px 0;
  }
  .item-media--empty + .item-inner {
    padding-left: 28px !important;
  }
  .content-block {
    padding: 0;
  }
  .label-radio {
    position: relative;
    border-top: 1px solid $gray-lighten;
  }
  label.label-radio input[type="radio"] + .item-media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    border: 2px solid transparent;
  }
    label.label-radio:hover input[type="radio"] + .item-media {
      border-color: #1FA2FF;
    }
    label.label-radio input[type="radio"]:checked + .item-media {
    border-color: #1FA2FF;
  }
}
.accordion-list--choose .accordion-item-expanded {
  .label-radio {
    border-top: none;
  }
}
b {
  font-weight:600;
}
.b-top1 {
  border-top: 1px solid $gray-lighten;
}
.b-top1d {
  border-top: 1px solid #666666;
}

.height50 {
  height: 50px;
}

.toolbar {
  height:auto;
  a.link {
    position: absolute;
    top: -14px;
    right: 0;
    color: #394B59;
    padding: 0 15px;
  }
}

.calendar-custom-toolbar {
  font-size: 16px;
  height: 50px;
}

.text-lg {
  font-size: 21px;
}
.text-md {
  font-size: 16px;
}
.text-xs {
  font-size: 12px;
}
.pad0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pad15  {
  padding: 0 15px;
}
.pad20  {
  padding: 0 20px;
}
.text-primary {
  color: #394B59;
}
.text-warning {
  color: #FF8C00 !important;
}
.text-default {
  color: #999EA7;
}
.light {
  font-weight: 300;
}

.link-grey {
  color: #394B59;
}
.bg-white {
    background-color: $white;
}

.footer {
  padding: 0 20px 20px;
  color: #394B59;
  font-weight: 300;
  margin-top: 65px;
  p {
    margin-top: 0;
    + p {
      margin-top: 40px;
    }
  }
}

.inputs-list {
  .accordion-list--choose {
    .item-title {
      line-height: 36px;
    }
  }
}

.buttons {
  &-block {
    .col-50 {
      width: calc((100%) / 2);
    }
  }
  &__item {
    & + & {
      border-left: 1px solid $gray-lighten;
    }
  }
}

.swiper-custom {
  position:relative;
  height:100%;
}
.swiper-container {
  height:100%;
}

.item-title {
  .main {

  }
  .submain {
    font-size: 12px;
    display: block;
  }
}

//::-webkit-input-placeholder {color:#999EA7;}
//::-moz-placeholder          {color:#999EA7;}
//:-moz-placeholder           {color:#999EA7;}
//:-ms-input-placeholder      {color:#999EA7;}

.card-block {
  background: #999EA7;
  //padding: 15px;
  color: #fff;
  height: 210px;
  font-size: 11px;
  width: 300px;
  margin: auto;
  .inner {
    padding: 10px 15px;
  }
  @include border-radius(10px);
  & + & {
    margin-top: 10px;
  }
  input.form-control {
    height: 40px;
    padding: 5px 20px;
    background: #fff;
  }
  &__item {
    & + & {
      margin-top: 10px;
    }
    &--line {
      height: 50px;
      background: $color-type-1b;
    }
  }
}
object{
  pointer-events: none;
}
.false {
  background: $white;
  border: 2px solid $color-type-3b !important;
}

.edited {
  background: $white;
  border: 2px solid $color-type-6a !important;
}

.close-popup {
  background: $base-color-main;
  padding: 10px 5px 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.calendar-custom-toolbar {
  .left {
    position: absolute;
    left: 20%;
    margin-left: 60px;
    top: 15px;
  }
  .right {
    position: absolute;
    right: 20%;
    top: 15px;
  }
}

.tabbar-labels {
  height: 72px;
}

.ball {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #999EA7;
  @include border-radius(50%);
  &.active {
    background: #1FA2FF;
  }
}

.pad0 {
  padding: 0;
}
.padright10 {
  padding-right: 10px;
}
.padleft10 {
  padding-left: 10px;
}
.padleft0 {
  padding-left: 0 !important;
}
.marg0 {
  margin: 0;
}
.margtop0 {
  margin-top: 0;
}
.margbot0 {
  margin-bottom: 0;
}
.margright10 {
  margin-right: 10px;
}
.margbot10 {
  margin-bottom: 10px;
}
.margtop10 {
  margin-top: 10px;
}
.margtop20 {
  margin-top: 20px;
}

.text--uppercase {text-transform: uppercase;}

.row .col-33 {
  width: 33.33333%;
  width: -webkit-calc(100%  / 3);
  width: -moz-calc(100%  / 3);
  width: calc(100% / 3);
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.danger-bg .item-link {
    background: $red !important;
    color: $white !important;
    .item-inner::after {
        background-position: -100px -101px !important;
    }
}
i + span {
    margin-left: 7px;
}
.tab {
    &-link.button {
        color: $gray;
        &.active {
            color: $red;
        }
    } 
}
.center__jc {
    justify-content: center !important;
}

.qrcode {
  text-align: center;
  background-color: $white;
  &-header {
    font-size: 12px;
    padding: 15px 15px 0;
    p {
      margin-top: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &-body {
    //padding-bottom: 15px;
    padding: 0 15px 15px;
  }
  &-footer {
    //padding-top: 15px;
    font-size: 13px;
    position: relative;
    padding: 15px;
    &:before {
      content: '';
      background: url("../images/dots.png") repeat-x center left -4px /auto 13px;
      height: 13px;
      width: 100%;
      position: absolute;
      top: -7px;
      left: 0;
      right: 0;
      //font-size: 30px;
      //color: #ccd1d7;
    }
    //letter-spacing: -1px;
  }
}