//
// Vendors -> Plugins
// ------------------------------------

// icons svg
.icons {
	//margin-bottom: .7rem;
	&:before {
		content: attr(data-size);
		line-height: 1.5em;
		margin: 0 .5rem 0 0;
		vertical-align: middle;
		color: #000;
	}
	&-size--16 {
		font-size: 16px;
	}
	&-size--32 {
		font-size: 32px;
	}
	&-size--48 {
		font-size: 48px;
	}
	&-size--64 {
		font-size: 64px;
	}
}

.icon--up-g {
	display: inline-block;
	width: 25px;
	height: 22px;
	background: 0 0 no-repeat;
	background-image: url("../images/icons/Update_Icon_Gray.svg");
  	background-size: 22px auto;
	background-position: 0 0;
}
.icon--up-r {
	display: inline-block;
	width: 25px;
	height: 22px;
	background: 0 0 no-repeat;
	background-image: url("../images/icons/Update_Icon_Red.svg");
  	background-size: 22px auto;
	background-position: 0 0;
}
.icon--up-w {
	display: inline-block;
	width: 25px;
	height: 22px;
	background: 0 0 no-repeat;
	background-image: url("../images/icons/Update_Icon_White.svg");
  	background-size: 22px auto;
	background-position: 0 0;
}
.icon--time-o {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: 0 0 no-repeat;
	background-image: url("../images/icons/Time_Icon_Orange.svg");
  	background-size: 24px auto;
	background-position: 0 0;
}
.icon--ok-g {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: 0 0 no-repeat;
	background-image: url("../images/icons/OK_Icon_Green.svg");
  	background-size: 24px auto;
	background-position: 0 0;
}
.icon-arr {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: 0 0 no-repeat;
	background-image: url("../images/icons/Arrows.svg");
  	background-size: 128px auto;
	&--right-g {
	  background-position: -3px -3px;
	}
	&--up-g {
	  background-position: -35px -3px;
	}
	&--down-g {
	  background-position: -68px -3px;
	}
	&--left-g {
	  background-position: -99px -3px;
	}
	&--right-r {
	  background-position: -3px -36px;
	}
	&--up-r {
	  background-position: -35px -36px;
	}
	&--down-r {
	  background-position: -68px -36px;
	}
	&--left-r {
	  background-position: -99px -36px;
	}
	&--right-p {
	  background-position: -3px -67px;
	}
	&--up-p {
	  background-position: -35px -67px;
	}
	&--down-p {
	  background-position: -68px -67px;
	}
	&--left-p {
	  background-position: -99px -67px;
	}
}
.icon-soc {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: 0 0 no-repeat;
	background-image: url("../images/icons/CW_Icons.svg");
  	background-size: 93px auto;
	&--fa {
	  background-position: -2px -3px;
	}
	&--vk {
	  background-position: -34px -3px;
	}
	&--ins {
	  background-position: -66px -3px;
	}
}
.icon {
	display: inline-block;
	width: 28px;
	height: 30px;
	background: 0 0 no-repeat;
	background-image: url("../images/icons/Icons.svg");
	background-size: 1434px auto;
	&--buy {
		background-position: -177px -49px;
	}
		&--buy-w {
			background-position: -177px -81px;
		}
	&--tickets {
	  	background-position: -209px -49px;
	}
	&--tariff {
	  	background-position: -241px -49px;
	}
		&--tariff-w {
			background-position: -241px -81px;
		}
	&--attention {
		background-position: -272px -49px;
	}
	&--cabinet {
	  	background-position: -305px -49px;
	}
		&--cabinet-w {
			background-position: -305px -81px;
		}
		&--cabinet-r {
			background-position: -305px -113px;
		}
	&--schedule {
	  	background-position: -338px -49px;
	}
		&--schedule-w {
			background-position: -338px -81px;
		}
	&--post {
		background-position: -369px -49px;
	}
	&--route {
	  	background-position: -401px -49px;
	}
	&--flights {
	  	background-position: -433px -49px;
	}
		&--flights-r {
			background-position: -433px -113px;
		}
	&--date { 
		background-position: -465px -48px;
	}
	&--info {
	  	background-position: -497px -49px;
	}
		&--info-w {
			background-position: -497px -81px;
		}
	&--success {
	  	background-position: -529px -49px;
	}
		&--success-w {
			background-position: -529px -81px;
		}
		&--success-r {
			background-position: -529px -113px;
		}
	&--add {
		background-position: -560px -49px;
	}
	&--pass {
	  	background-position: -593px -49px;
	}
	&--passrep {
	  	background-position: -624px -49px;
	}
	&--birth {
		background-position: -657px -49px;
	}
	&--bonus {
	  	background-position: -688px -49px;
	}
		&--bonus-r {
			background-position: -688px -113px;
		}
	&--mail {
	  	background-position: -721px -49px;
	}
	&--numphone {
	  	background-position: -753px -49px;
	}
		&--numphone-r {
			background-position: -753px -113px;
		}
	&--callback {
	  	background-position: -785px -49px;
	}
		&--callback-r {
			background-position: -785px -113px;
		}
	&--search {
	  	background-position: -817px -49px;
	}
	&--gender {
	  	background-position: -849px -49px;
	}
	//&--birth {
	//	background-position: -848px -49px;
	//}
	&--aeroports {
	  	background-position: -881px -49px;
	}
		&--aeroports-w {
			background-position: -881px -79px;
		}
	&--plane-up {
	  	background-position: -913px -49px;
	}
	  &--plane-down {
		  background-position: -913px -79px;
	  }
	  &--plane-up-o {
		  background-position: -913px -111px;
	  }
	  &--plane-down-o {
		  background-position: -913px -143px;
	  }
	  &--plane-up-g {
		  background-position: -913px -175px;
	  }
	  &--plane-down-g {
		  background-position: -913px -207px;
	  }
	  &--plane-up-b {
		  background-position: -913px -239px;
	  }
	  &--plane-down-b {
		  background-position: -913px -271px;
	  }
	&--num-flight {
	  	background-position: -945px -49px;
	}
	&--city {
	  	background-position: -977px -49px;
	}
	&--exit {
	  	background-position: -1009px -49px;
	}
	&--contacts {
	  	background-position: -1041px -49px;
	}
	&--costs {
	  	background-position: -1073px -49px;
	}
	&--back {
	  	background-position: -1105px -49px;
	}
	&-forward {
	  	background-position: -1105px -113px;
		transform: rotate(180deg);
	}
	&-back {
	  	background-position: -1105px -113px;
	}
	&--close {
	  	background-position: -1137px -49px;
	}
		&--close-w {
			background-position: -1137px -81px;
		}
	&--menu {
	  	background-position: -1169px -49px;
	}
		&--menu-r {
			background-position: -1169px -113px;
		}
	&--message {
	  	background-position: -1201px -49px;
	}
		&--message-r {
			background-position: -1201px -115px;
		}
	&--innmess {
	  	background-position: -1233px -51px;
	}
		&--innmess-r {
			background-position: -1233px -115px;
		}
	&--outmess {
	  	background-position: -1265px -49px;
	}
	&--createmess {
	  	background-position: -1297px -50px;
	}
		&--createmess-r {
			background-position: -1297px -115px;
		}
	&--clear {
	  	background-position: -1329px -49px;
	}
}
// icons svg