header.navbar
    .navbar-inner
        .left
            a(href="/").back.link.external
                object.logo(type="image/svg+xml", data="images/logo.svg")
                //img(src="images/logo.png", alt="")
        .right
            a(href="#").link RUS
            a(href="#").link.icon-only
                i.icon.icon--callback
            a(href="cabinet.html").external.link.icon-only
                i.icon.icon--contacts