.statusbar-overlay
.panel-overlay
.panel.panel-left.panel-cover
    a(href="#").link.close-popup.close-panel: i.icon.icon--close-w
    .panel-menu
        .list-block.marg0
            include ../components/_navbar
header.navbar
    .navbar-inner
        .left
            a(href="/").back.link.external
                object.logo(type="image/svg+xml", data="images/logo.svg")
                //img(src="images/logo.png", alt="")
        .right
            a(href="#").link.icon-only
                i.icon.icon--callback
            a(href="#").link.icon-only
                i.icon.icon--contacts
            a(href="cabinet.html").external.link.icon-only
                i.icon.icon--cabinet
            a(href="#").open-panel.link.icon-only
                i.icon.icon--menu