/* === Accordion === */
.list-block {
    .accordion-item-toggle {
        cursor: pointer;
        @include transition(300ms);
        .item-inner {
            padding-right: 42px;
            //background: no-repeat -webkit-calc("100% - 15px") center;
            background: no-repeat calc("100% - 15px") center;
            @include encoded-svg-background("<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='#c7c7cc'/></svg>");
            background-size: 10px 20px;
            
        }

        html:not(.watch-active-state) &:active, &.active-state {
            @include transition(0ms);
            background-color: #d9d9d9;
            > .item-inner {
                @include hairline-color(bottom, transparent);
            }
        }
    }
    &.accordion-list--choose .item-link .item-inner {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        display: inline-block;
        top: 12.5px;
        right: 7.5px;
        width: 25px;
        height: 25px;
        background: 0 0 no-repeat;
        background-image: url("../images/icons/Arrows.svg");
        background-size: 128px auto;

        background-position: -68px -37px;
        //background-position: -35px -37px;
      }
    }
    .accordion-item-toggle, .accordion-item > .item-link {
        .item-inner {
            @include transition(300ms);
            &:after {
                @include transition(300ms);
            }
            -webkit-transition-property: background-color;
            transition-property: background-color;
        }
    }

    &.accordion-list--choose:not(.media-list) .accordion-item-expanded:not(.media-item) > .item-link .item-inner {
      &:after {
        background-position: -35px -37px;
      }
    }

    .accordion-item-expanded {
        .accordion-item-toggle .item-inner, > .item-link .item-inner {
            @include hairline-color(bottom, transparent);
        }
    }
    .accordion-item {
      //background-color: $red;
      background-color: $white;
      font-size: 16px;
        &--null {
            background-color: transparent
        }
      .item-link {color: #999EA7;background-color: $white;}

      .content-block, .list-block {
          margin-top: 0;
          margin-bottom: 0;
      }
      ul {
          padding-left: 0;
      }
      &--menu {
        .item-link, .item-link-nojs {
            background-color: $red;
            color: $white;
        }
        font-size: 14px;
        border-top: none;
        .item-inner {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            display: inline-block;
            top: 12.5px;
            right: 7.5px;
            width: 25px;
            height: 25px;
            background: 0 0 no-repeat;
            background-image: url("../images/icons/Arrows.svg");
            background-size: 128px auto;

            background-position: -68px -67px;
          }
        }
        &.accordion-item-expanded:not(.media-item) > .item-link .item-inner {
          &:after {
            background-position: -35px -67px;
          }
        }
        .item-link {color: $white;}
        &-nojs {
          background-color: $red;
          color: $white;

          &.accordion-item-expanded:not(.media-item) > .item-link .item-inner {

            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20transform%3D'translate(115%2C%2030)%20rotate(90)'%20fill%3D'%23FF897F'%2F%3E%3C%2Fsvg%3E");
          }
        }
      }
      &-nojs {
        .item-inner {
          &:after {
            background-position: -99px -67px;
          }
        }
      }
    }
   &.marg-list .accordion-item-expanded {
     margin-bottom: 10px;
   }
    .accordion-item:not(.accordion-item--menu) + .accordion-item:not(.accordion-item--menu) {
      border-top: 1px solid #eee;
    }
}
.accordion-item-content {
    position: relative;
    overflow: hidden !important;
    height: 0;
    font-size: 14px;
    @include transition(300ms);
    @include transform(translate3d(0,0,0));
    .accordion-item-expanded > &{
        height: auto;
    }
    .accordion-item-expanded > & {overflow: visible;}
    html.android-4 & {
        @include transform(none);
    }
    .item-content:not(.label-radio) {
      color: #394B59;
      background-color: $white;
      //border-top: 1px solid $gray-lighten;

      + .item-content:not(.label-radio) {
        border-top: 1px solid $gray-lighten;
      }
    }
    .list-block .item-link {color: #394B59;}
    .list-block .item-link .item-inner {
      &:after {
        background-position: -99px -3px;
      }
    }
}
.accordion-main-arr {
  .list-block .item-link .item-inner {

    &:after {
      background-position: -68px -37px;
    }
  }

}
.accordion-item-m.accordion-item-expanded {
  margin-bottom: 10px;
}