.badge {
    font-size: 10px;
    display: inline-block;
    color:#fff;
    background: #8e8e93;
    border-radius: 50px;
    padding: 1px 6px;
    box-sizing: border-box;
    vertical-align: middle;
    font-style: normal;
}
.icon .badge {
    position: absolute;
    left: 100%;
    margin-left: -10px;
    top: -2px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    padding: 1px 1px;
    width: 16px;
    height: 16px;
}