/* === Calendar === */
.picker-calendar {
    background: #fff;
    height: 420px;
    overflow: hidden;
    bottom: auto;
    width: 90%;
    left: 50%;
    top: 50%;
    min-width: 300px;
    max-width: 380px;

    font-size: 16px;
    color: #394B59;

    @include translate3d(-50%,100%,0);
    @include depth(5);
    @media (orientation: landscape) and (max-height: 460px) {
        &:not(.picker-modal-inline) {
            height: -webkit-calc(100% - 40px);
            height: calc(100% - 40px);
        }
    }
    .popover-picker-calendar & {
        height: 420px;
    }
    .picker-modal-inner {
        overflow: hidden;
    }
    &.modal-in {
        @include translate3d(-50%,-50%,0);
    }
    &.modal-out {
        @include translate3d(-50%,100%,0);
    }
    &.picker-modal-inline {
        height: 300px;
    }
    &.picker-modal-inline, .popover-picker-calendar & {
        @include translate3d(0%,0%,0);
        width: auto;
        max-width: none;
        left: 0;
        top: 0;
        box-shadow: none;
    }
    &.picker-modal {
        z-index: 12500;
    }
    .toolbar {
        color: $red;
    }

}
.popover.popover-picker-calendar {
    width: 320px;
}
.picker-calendar-selected-date {
    line-height: 48px;
    color:#fff;
    padding: 0 24px;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.picker-calendar-week-days {
    height: 100% / 7;
    @include flexbox();
    //font-size: 12px;
    box-sizing: border-box;
    position: relative;
    //color: rgba(0,0,0,0.54);

    font-size: 16px;
    color: #394B59;
    font-weight: 700;
    .picker-calendar-week-day {
        @include flex-shrink(1);
        $w: 100% / 7;
        width: $w;
        width: -webkit-calc(100% / 7);
        width: -moz-calc(100% / 7);
        width: calc(100% / 7);
        text-align: center;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
    }
    + .picker-calendar-months {
        height: -webkit-calc(100% - 100% / 7);
        height: -moz-calc(100% - 100% / 7);
        height: calc(100% - 100% / 7);
    }
}
.picker-calendar-months {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.picker-calendar-months-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @include transition(300ms);
}
.picker-calendar-month {
    @include flexbox();
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.picker-calendar-row {
    height: 100% / 6;
    height: -webkit-calc(100% / 6);
    height: -moz-calc(100% / 6);
    height: calc(100% / 6);
    @include flexbox();
    @include flex-shrink(1);
    width: 100%;
    position: relative;
}
.picker-calendar-day {
    @include flex-shrink(1);
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    box-sizing: border-box;
    width: 100% / 7;
    width: -webkit-calc(100% / 7);
    width: -moz-calc(100% / 7);
    width: calc(100% / 7);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #394B59;
    &.picker-calendar-day-weekend {
    }
    &.picker-calendar-day-prev, &.picker-calendar-day-next {
        color: #ddd;
    }
    .picker-calendar-month-prev &, .picker-calendar-month-next & {

    }
    &.picker-calendar-day-disabled {
        color: #d4d4d4;
        cursor: auto;
    }
    &.picker-calendar-day-today span {
        color: #394B59;
    }
    &.picker-calendar-day-selected span {
        //background: $themeColor;
        border-color: #1FA2FF;
        color: #394B59;
    }
    .picker-calendar-range &.picker-calendar-day-selected span {
        border-radius: 100%;
        //width: 100%;
        width: 40px;
        height: 40px;
    }
    &.picker-calendar-day-has-events span {
        &:after {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $themeColor;
            position: absolute;
            margin-left: -2px;
            left: 50%;
            bottom: 2px;
        }
    }
    &.picker-calendar-day-has-events.picker-calendar-day-selected span:after {
        display: none;
    }
    span {
        display: inline-block;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        line-height: 36px;
        position: relative;
        border: 2px solid transparent;

    }
}
.picker-calendar-month-picker, .picker-calendar-year-picker {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    width: 50%;
    max-width: 200px;
    @include flex-shrink(10);
    span {
        @include flex-shrink(1);
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: center;
    }
}