$red: #FF1400;
$pink: #e91e63;
$purple: #9c27b0;
$deeppurple:#673ab7;
$indigo: #3f51b5;
$blue: #1FA2FF;
$lightblue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$lightgreen: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$deeporange: #ff5722;
$brown: #795548;
$gray: #9e9e9e;
$bluegray: #607d8b;
$white: #ffffff;
$black: #000000;
$silver: #999EA7;

// Theme Color
$themeColor: $red;