/* === Content Block === */
$contentBlockBorderColor: rgba(0,0,0,0.12);
.content-block {
    margin: 32px 0;
    padding: 0 16px;
    box-sizing: border-box;
}
.content-block-title {
    position: relative;
    overflow: hidden;
    //margin: 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 21px;
    line-height: 1;
    margin: 16px 16px 16px;
    //padding-top: 16px;
    //line-height: 16px;
    font-weight: 400;
    color: #394B59;
    + .list-block, + .content-block, +.card {
        margin-top: 0;
    }

}
.content-block-subtitle {

    text-align: center;
    font-size: 14px;
    color: $red;
    margin-top: 30px;
    margin-bottom: 15px;
}
.content-block-inner {
    padding: 16px 16px;
//    margin-left: -16px;
    width: 100%;
    position: relative;
//    @include hairline(top, $contentBlockBorderColor);
//    @include hairline(bottom, $contentBlockBorderColor);
    >p:first-child {
        margin-top: 0;
    }
    >p:last-child {
        margin-bottom: 0;
    }
}
.content-block.inset {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 7px;
    .content-block-inner {
        @include hairline-remove(top);
        @include hairline-remove(bottom);
        border-radius: 4px;
    }
}

.content-block__item {
    .content-block-subtitle {
        margin: 15px 0;
    }
}
@media all and (min-width:768px) {
    .content-block.tablet-inset {
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 4px
    }
    
    .content-block.tablet-inset .content-block-inner {
    	@include hairline-remove(top);
        @include hairline-remove(bottom);
    	border-radius: 4px;
    }
}
