/* === Forms === */
// Inputs
.list-block {
    input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        box-sizing:border-box;
        border: none;
        background: none;
        border-radius: 0 0 0 0;
        box-shadow: none;
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50px;
        color: #212121;
        font-size: 16px;
        font-family: inherit;
        &::-moz-placeholder { color: #999EA7; opacity: 1 }
        &:-ms-input-placeholder { color: #999EA7; opacity: 1}
        &::-webkit-input-placeholder  { color: #999EA7; opacity: 1}
    }
    .label, .floating-label {
        vertical-align: top;
        color:rgba(0,0,0,0.65);
        @include transition(200ms);
        width: 35%;
        @include flex-shrink(0);
    }
    
    input[type="date"], input[type="datetime-local"] {
        line-height: 44px;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
    }
    textarea {
        resize:none;
        line-height: 1.4;
        padding-top: 8px;
        padding-bottom: 7px;
        height: 100px;
        &.resizable {
            height: 50px;
        }
    }

    .item-input {
        width: 100%;
        -ms-flex:1;
        @include flex-shrink(1);
        font-size: 0;
        position: relative;
        margin: 0;
        min-height: 50px;
    }

    // Inputs List
    .input-item, &.inputs-list {
        .item-content {
            background: #fff;
            border-bottom: 1px solid $gray-lighten;
            &.disabled {
                background: transparent;
            }
        }
        ul {
            @include hairline-remove(bottom);
        }
        .item-media {
            @include align-self(flex-end);
            min-height: 36px;
            margin-bottom: 8px;
            padding: 0;
        }
        .item-inner {
            display: block;
            //margin: 0;
            padding-top: 0;
            padding-bottom: 0;
            height: 50px;
            @include hairline-remove(bottom);
        }
        .accordion-item .item-inner {
            padding: 8px 16px 8px 0;
            &--marg {
                padding: 8px 16px 8px 9px;
            }
        }
        .label, .floating-label {
            width: 100%;
            font-size: 12px;
        }
        .floating-label {
            @include transform-origin(left);
            @include transform(scale(16/12) translateY(11px));
            color: #999EA7;
            width: auto;
            max-width: 75%;
            //margin-top: -10px;
            ~.item-input input::-webkit-input-placeholder {
               color: transparent;
            }
        }
    }
    .focus-state, .not-empty-state {
        .floating-label {
            color:rgba(0,0,0,0.65);
            @include transform(scale(1) translateY(4px));
        }
    }
    .focus-state {
        .label, .floating-label {
            //color: $themeColor;
            color: #999EA7;
            + .item-input .form-control {
                height: 27px;
            }
        }
    }
}
.item-input-field, .input-field {
    position: relative;
    @include hairline(bottom, rgba(0, 0, 0, 0.12));
    &:after {
        @include transition(200ms);
    }
    &.focus-state:after, &.not-empty-state:after, .focus-state &:after, .not-empty-state &:after{
        background: $themeColor;
        @include transform(scaleY(2) !important);
    }
}
textarea.resizable {
    overflow: hidden;
}
//Switch
.label-switch {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 14px;
    position: relative;
    cursor: pointer;
    @include align-self(center);
    .checkbox {
        width: 36px; 
        border-radius: 36px;
        box-sizing:border-box;
        height: 14px;
        background: #b0afaf;
        z-index: 0;
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border:none;
        cursor: pointer;
        position: relative;
        @include transition(300ms);
        &:after {
            content:' ';
            height: 20px;
            width: 20px;
            border-radius: 20px;
            background: #fff;
            position: absolute;
            z-index: 2;
            top: -3px;
            left: 0px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
            @include transform(translateX(0px));
            @include transition(300ms);
        }
    }
    input[type="checkbox"] {
        display: none;
        &:checked {
            &+ .checkbox {
                background: rgba(red($themeColor), green($themeColor), blue($themeColor), 0.5);
                &:after {
                    @include transform(translateX(16px));
                    background: $themeColor;
                }
            }
        }
    }
    .item-input & {
        top: (36px - 14px) / 2;
    }
}

//Buttons
@mixin button {
    color:$themeColor;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 2px;
    line-height: 36px;
    box-sizing:border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    padding: 0 10px;
    margin: 0;
    height: 36px;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
    text-transform: uppercase;
    font-family: inherit;
    cursor: pointer;
    min-width: 64px;
    padding: 0 8px;
    position: relative;
    overflow: hidden;
    outline: 0;
    border: none;
    @include transition(300ms);
    @include translate3d(0,0,0);
    input[type="submit"] &, input[type="button"] &{
        width: 100%;
    }
    html:not(.watch-active-state) &:active, &.active-state {
        background: rgba(0,0,0,0.1);
    }
    &.button-fill {
        background-color: $themeColor;
        color: #fff;
        html:not(.watch-active-state) &:active, &.active-state {
            background: darken($themeColor, 8%);
        }
    }
    &.button-big {
        height: 48px;
        line-height: 48px;
        border-radius: 3px;
    }

    i.icon + span,
    span:not(.ripple-wave) + span,
    span:not(.ripple-wave) + i.icon,
    i.icon + i.icon {
        margin-left: 8px;
    }

    .navbar &, .toolbar &, .subnavbar &, .notifications & {
        &:not(.button-fill) {
            color:#fff;
            html:not(.watch-active-state) &:active, &.active-state {
                background: rgba(255,255,255,0.15);
            }
        }
    }
}
.button {
    @include button;
}
.button-raised {
    @include depth(1);
    html:not(.watch-active-state) &:active, &.active-state {
        @include depth(2);
    }
}
.buttons-row {
    @include align-self(center);
    @include flexbox();
    @include flex-wrap(nowrap);
    .button {
        margin-left: 16px;
        width: 100%;
        -webkit-box-flex:1;
        -ms-flex:1;
    }
    .button:first-child {
        margin-left: 0;
    }
}


// Slider
.range-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    @include align-self(center);
    input[type="range"] {
        position: relative;
        height: 20px;
        width: 100%;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #b9b9b9), color-stop(100%, #b9b9b9));
        background: linear-gradient(to right, #b9b9b9 0, #b9b9b9 100%);
        background-position: center;
        background-size: 100% 2px;
        background-repeat: no-repeat;
        outline: 0;
        -ms-background-position-y: 500px;
        &:focus, &:active {
            border: 0;
            outline: 0 none;
        }
    }
    
    // Range thumb mixin
    @mixin range-thumb() {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border: none;
        outline: 0;
        height: 20px;
        width: 20px;
        position: relative;
        background: $themeColor;
        border-radius: 20px;
    }

    // ======= Webkit ========
    input[type="range"]::-webkit-slider-thumb {
        @include range-thumb();
    }

    input[type="range"]::-webkit-slider-thumb:before {
        position: absolute;
        top: 50%;
        right: 100%;
        width: 2000px;
        height: 2px;
        margin-top: -1px;
        z-index: 1;
        background: $themeColor;
        content: ' ';
    }

    // ======= FireFox ========
    input[type="range"]::-moz-range-track {
        width: 100%;
        height: 2px;
        background: #b7b8b7;
        border: none;
        outline: 0;
    }
    input[type="range"]::-moz-range-thumb {
        @include range-thumb();
    }

    // ======= IE ========
    input[type="range"]::-ms-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type="range"]::-ms-thumb {
        @include range-thumb();
    }

    input[type="range"]::-ms-fill-lower {
        background: $themeColor;
    }
    input[type="range"]::-ms-fill-upper {
        background: #b7b8b7;
    }

    .item-input & {
        top: (36px - 20px) / 2;
    }
}

// Checkboxes
label.label-checkbox {
    cursor: pointer;
    i.icon-form-checkbox {
        width: 18px;
        height: 18px;
        position: relative;
        border-radius: 2px;
        border: 2px solid #6d6d6d;
        box-sizing:border-box;
        @include transition(300ms);
        background: transparent;
        &:after {
            content:' ';
            position: absolute;
            width: 18px;
            height: 18px;
            left: -2px;
            top: -2px;
            @include transition(300ms);
            opacity: 0;
            background: no-repeat center;
            @include encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' width='24' height='24' viewBox='0 0 24 24'><path d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/></svg>");
            -webkit-background-size: 100% auto;
            background-size: 100% auto;
        }
    }
    input[type="checkbox"], input[type="radio"] {
        display: none;
        &:checked + .item-media, &:checked ~ .item-after, &:checked ~ .item-inner{
            i.icon-form-checkbox {
                border-color: $themeColor;
                background-color: $themeColor;
            }
            i.icon-form-checkbox:after {
                opacity: 1;
            }
        }
    }
}
label.label-radio {
    cursor: pointer;
    i.icon-form-radio {
        width: 20px;
        height: 20px;
        position: relative;
        border-radius: 20px;
        border: 2px solid #999ea7;
        box-sizing:border-box;
        @include transition(300ms);
        &:after {
            content:' ';
            position: absolute;
            width: 10px;
            height: 10px;
            left: 50%;
            top: 50%;
            margin-left: -5px;
            margin-top: -5px;
            background-color: #394B59;
            border-radius: 100%;
            @include transform(scale(0));
            @include transition(300ms);
        }
    }
    input[type="checkbox"], input[type="radio"] {
        display: none;
        &:checked + .item-media, &:checked ~ .item-after, &:checked ~ .item-inner{
            i.icon-form-radio {
                //border-color: $themeColor;
            }
            i.icon-form-radio:after {
                //background-color: #394B59;
                @include transform(scale(1));
            }
        }
    }
}
label.label-checkbox, label.label-radio {
    position: relative;
    overflow: hidden;
    z-index: 0;
    @include transition(300ms);
    .item-after {
        i.icon-form-checkbox, i.icon-form-radio {
            margin-left: 8px;
            margin-right: 16px;
        }
    }
    .media-list &, .media-item & {
        .item-media {
            i.icon-form-checkbox, i.icon-form-radio {
                margin-top: 4px;
            }       
        }
    }
    html:not(.watch-active-state) &:active, &.active-state {
        background-color: rgba(0,0,0,0.1);
        .item-inner {
            @include hairline-color(bottom, transparent);
        }
    }
}

// Smart selects
.smart-select {
    select {
        display: none;
    }
}
