/* === Grid === */
.row {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    > [class*="col-"] {
        box-sizing: border-box;
    }
}

.row .col-auto {
  width: 100%; }

.row .col-5 {
  width: 5%;
  width: -webkit-calc((100% - 16px*19) / 20);
  width: -moz-calc((100% - 16px*19) / 20);
  width: calc((100% - 16px*19) / 20); }

.row.no-gutter .col-5 {
  width: 5%; }

.row .col-10 {
  width: 10%;
  width: -webkit-calc((100% - 16px*9) / 10);
  width: -moz-calc((100% - 16px*9) / 10);
  width: calc((100% - 16px*9) / 10); }

.row.no-gutter .col-10 {
  width: 10%; }

.row .col-15 {
  width: 15%;
  width: -webkit-calc((100% - 16px*5.66667) / 6.66667);
  width: -moz-calc((100% - 16px*5.66667) / 6.66667);
  width: calc((100% - 16px*5.66667) / 6.66667); }

.row.no-gutter .col-15 {
  width: 15%; }

.row .col-20 {
  width: 20%;
  width: -webkit-calc((100% - 16px*4) / 5);
  width: -moz-calc((100% - 16px*4) / 5);
  width: calc((100% - 16px*4) / 5); }

.row.no-gutter .col-20 {
  width: 20%; }

.row .col-25 {
  width: 25%;
  width: -webkit-calc((100% - 16px*3) / 4);
  width: -moz-calc((100% - 16px*3) / 4);
  width: calc((100% - 16px*3) / 4); }

.row.no-gutter .col-25 {
  width: 25%; }

.row .col-30 {
  width: 30%;
  width: -webkit-calc((100% - 16px*2.33333) / 3.33333);
  width: -moz-calc((100% - 16px*2.33333) / 3.33333);
  width: calc((100% - 16px*2.33333) / 3.33333); }

.row.no-gutter .col-30 {
  width: 30%; }

.row .col-33 {
  width: 33.33333%;
  width: -webkit-calc((100% - 16px*2) / 3);
  width: -moz-calc((100% - 16px*2) / 3);
  width: calc((100% - 16px*2) / 3); }

.row.no-gutter .col-33 {
  width: 33.33333%; }

.row .col-40 {
  width: 40%;
  width: -webkit-calc((100% - 16px*1.5) / 2.5);
  width: -moz-calc((100% - 16px*1.5) / 2.5);
  width: calc((100% - 16px*1.5) / 2.5); }

.row.no-gutter .col-40 {
  width: 40%; }

.row .col-50 {
  width: 50%;
  width: -webkit-calc((100% - 16px*1) / 2);
  width: -moz-calc((100% - 16px*1) / 2);
  width: calc((100% - 16px*1) / 2); }

.row.no-gutter .col-50 {
  width: 50%; }

.row .col-60 {
  width: 60%;
  width: -webkit-calc((100% - 16px*0.66667) / 1.66667);
  width: -moz-calc((100% - 16px*0.66667) / 1.66667);
  width: calc((100% - 16px*0.66667) / 1.66667); }

.row.no-gutter .col-60 {
  width: 60%; }

.row .col-66 {
  width: 66.66667%;
  width: -webkit-calc((100% - 16px*0.5) / 1.5);
  width: -moz-calc((100% - 16px*0.5) / 1.5);
  width: calc((100% - 16px*0.5) / 1.5); }

.row.no-gutter .col-66 {
  width: 66.66667%; }

.row .col-75 {
  width: 75%;
  width: -webkit-calc((100% - 16px*0.33333) / 1.33333);
  width: -moz-calc((100% - 16px*0.33333) / 1.33333);
  width: calc((100% - 16px*0.33333) / 1.33333); }

.row.no-gutter .col-75 {
  width: 75%; }

.row .col-80 {
  width: 80%;
  width: -webkit-calc((100% - 16px*0.25) / 1.25);
  width: -moz-calc((100% - 16px*0.25) / 1.25);
  width: calc((100% - 16px*0.25) / 1.25); }

.row.no-gutter .col-80 {
  width: 80%; }

.row .col-85 {
  width: 85%;
  width: -webkit-calc((100% - 16px*0.17647) / 1.17647);
  width: -moz-calc((100% - 16px*0.17647) / 1.17647);
  width: calc((100% - 16px*0.17647) / 1.17647); }

.row.no-gutter .col-85 {
  width: 85%; }

.row .col-90 {
  width: 90%;
  width: -webkit-calc((100% - 16px*0.11111) / 1.11111);
  width: -moz-calc((100% - 16px*0.11111) / 1.11111);
  width: calc((100% - 16px*0.11111) / 1.11111); }

.row.no-gutter .col-90 {
  width: 90%; }

.row .col-95 {
  width: 95%;
  width: -webkit-calc((100% - 16px*0.05263) / 1.05263);
  width: -moz-calc((100% - 16px*0.05263) / 1.05263);
  width: calc((100% - 16px*0.05263) / 1.05263); }

.row.no-gutter .col-95 {
  width: 95%; }

.row .col-100 {
  width: 100%;
  width: -webkit-calc((100% - 16px*0) / 1);
  width: -moz-calc((100% - 16px*0) / 1);
  width: calc((100% - 16px*0) / 1); }

.row.no-gutter .col-100 {
  width: 100%; }

.row .col-auto:nth-last-child(1),
.row .col-auto:nth-last-child(1) ~ .col-auto {
  width: 100%;
  width: -webkit-calc((100% - 16px*0) / 1);
  width: -moz-calc((100% - 16px*0) / 1);
  width: calc((100% - 16px*0) / 1); }
