/* === Icons === */
i.icons {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    font-style: normal;
    position: relative;
    /* Material Icons http://google.github.io/material-design-icons/ */
    &.icon-back {
        width: 24px;
        height: 26px;
        //@include encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z' fill='#ffffff'/></svg>")
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23FF1400'%2F%3E%3C%2Fsvg%3E");
        background-size: 10px 20px;
        background-repeat: no-repeat;
        background-position: 95% center;
    }
    &.icon-forward {
        width: 24px;
        height: 26px;
        transform: rotate(0deg);
        background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M2%2C20l-2-2l8-8L0%2C2l2-2l10%2C10L2%2C20z'%20fill%3D'%23FF1400'%2F%3E%3C%2Fsvg%3E");

        //background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20transform%3D'translate(60%2C%20110)%20rotate(180)'%20fill%3D'%23FF1400'%2F%3E%3C%2Fsvg%3E");
        background-size: 10px 20px;
        background-repeat: no-repeat;
        background-position: 95% center;
    }
    &.icon-bars {
        width: 24px;
        height: 24px;
        @include encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z' fill='#ffffff'/></svg>");
    }
    &.icon-camera {
        width: 24px;
        height: 24px;
        @include encoded-svg-background("<svg fill='#333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><circle cx='12' cy='12' r='3.2'/><path d='M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }
    &.icon-f7 {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-f7-material.png");
        border-radius: 3px;
    }
    &.icon-form-name {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-name-material.svg");
    }
    &.icon-form-password {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-password-material.svg");
    }
    &.icon-form-email {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-email-material.svg");
    }
    &.icon-form-calendar {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-calendar-material.svg");
    }
    &.icon-form-tel {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-tel-material.svg");
    }
    &.icon-form-gender {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-gender-material.svg");
    }
    &.icon-form-toggle {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-toggle-material.svg");
    }
    &.icon-form-comment {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-comment-material.svg");
    }
    &.icon-form-settings {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-settings-material.svg");
    }
    &.icon-form-url {
        width: 24px;
        height: 24px;
        background-image: url("#{$imgBaseUrl}/i-form-url-material.svg");
    }
    &.icon-next, &.icon-prev {
        width: 24px;
        height: 24px;
    }
    &.icon-next {
        @include encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' width='24' height='24' viewBox='0 0 24 24'><path d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }
    &.icon-prev {
        @include encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' width='24' height='24' viewBox='0 0 24 24'><path d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }
    &.icon-plus {
        width: 24px;
        height: 24px;
        font-size: 0;
        @include encoded-svg-background("<svg fill='#FFFFFF' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }
    &.icon-close {
        width: 24px;
        height: 24px;
        font-size: 0;
        @include encoded-svg-background("<svg fill='#FFFFFF' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    }
}
