/* === Lists === */
$listBlockBorderColor: rgba(0,0,0,0.12);
.center {
    margin: auto;
}
.list-block {
    margin: 32px 0;
    font-size: 16px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        //@include hairline(top, $listBlockBorderColor);
        //@include hairline(bottom, $listBlockBorderColor);
        ul {
            @include hairline-remove(top);
            @include hairline-remove(bottom);
            padding-left: 56px;
        }
    }

    &.arrow-block {
        .item-inner {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                display: inline-block;
                top: 12.5px;
                right: 7.5px;
                width: 25px;
                height: 25px;
                background: 0 0 no-repeat;
                background-image: url("../images/icons/Arrows.svg");
                background-size: 128px auto;

                background-position: -101px -37px !important;
            }
        }
    }

    .accordion-item {
        background: transparent;
    }

    .align-top, .align-top .item-content, .align-top .item-inner {
        @include align-items(flex-start);
    }
    
    @mixin inset() {
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 4px;
        .content-block-title {
            margin-left: 0;
            margin-right: 0;
        }
        ul {
            border-radius: 4px;
            @include hairline-remove(top);
            @include hairline-remove(bottom);
        }
        li:first-child > a{
            border-radius: 4px 4px 0 0;
        }
        li:last-child > a{
            border-radius: 0 0 4px 4px;
        }
        li:first-child:last-child > a {
            border-radius: 4px;
        }
    }
    &.inset {
        @include inset();
    }
    &.tablet-inset {
        @media all and (min-width:768px) {
            @include inset();
        }
    }

    // List items
    li {
        box-sizing:border-box;
        position: relative;
    }
    
    .item-media {
        @include flexbox();
        @include flex-shrink(0);
        @include flex-wrap(nowrap);
        @include align-items(center);
        box-sizing:border-box;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 28px;
        i + i {
            margin-left: 8px;
        }
        i + img {
            margin-left: 8px;
        }
        &.top {
            @include align-items(top);
        }
    }
    .item-media + .item-inner {
        margin-left: 11px;
        padding-left: 0;
    }
    .item-inner {
        padding-right: 16px;
        padding-left: 9px;
        position: relative;
        @include hairline(bottom, $listBlockBorderColor);
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        min-height: 50px;
        box-sizing:border-box;
        -webkit-box-flex:1;
        -ms-flex:1;
        min-width: 0;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        @include align-self(stretch);
    }
    .double-input .item-inner {
        padding-top: 0;
        padding-bottom: 0;
    }
    .item-title {
        min-width: 0;
        @include flex-shrink(1);
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .item-after {
        white-space: nowrap;
        //color: #757575;
        @include flex-shrink(0);
        padding-right: 12.5px;
        @include flexbox();
        max-height: 28px;
        //font-size: 14px;
    }
    .item-after--nonarr {
        padding-right: 20px;
    }
    .smart-select .item-after, .autocomplete-opener .item-after {
        max-width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        display: block;
    }
    .item-link {
        @include transition(300ms);
        display: block;
        color: inherit;
        position: relative;
        overflow: hidden;
        z-index: 0;
        &-nojs {
          @include transition(300ms);
          display: block;
          color: inherit;
          position: relative;
          overflow: hidden;
          z-index: 0;
          html:not(.watch-active-state) &:active, &.active-state {
            background-color: rgba(0,0,0,0.1);
            color: $white;
          }
        }
        .item-inner {
            padding-right: 40px;
            //@include encoded-svg-background("<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='#c7c7cc'/></svg>");
            //background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23FF1400'%2F%3E%3C%2Fsvg%3E");
            //background-size: 10px 20px;
            //background-repeat: no-repeat;
            //background-position: 95% center;
            //background-position: -webkit-calc(100% - 16px) center;
            //background-position: calc(100% - 16px) center;
        }
        html:not(.watch-active-state) &:active, &.active-state {
            background-color: rgba(0,0,0,0.1);
            color: $white;
        }
        &.list-button {
            padding: 0 16px;
            font-size: 16px;
            display: block;
            line-height: 48px;
        }
    }
    .item-content {
        box-sizing:border-box;
        padding-left: 11px;
        min-height: 50px;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
    }
    .item-content--tr {
        box-sizing:border-box;
        padding-left: 20px;
        min-height: 36px;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        .item-inner {
            height: 36px !important;
            min-height: 36px;
            line-height: 36px;
        }
        .item-media {
          //margin-bottom: 0 !important;
        }
    }
    // Label after List block
    .list-block-label {
        margin: 10px 0 35px;
        padding: 0 16px;
        font-size: 14px;
        color: rgba(0,0,0,0.54);
    }

    // Swipe outs
    .swipeout {
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .swipeout.deleting {
        @include transition(300ms);
        .swipeout-content {
            @include transform(translateX(-100%));
        }
    }
    .swipeout.transitioning {
        .swipeout-content, .swipeout-actions-right a, .swipeout-actions-left a, .swipeout-overswipe {
            -webkit-transition: 300ms;
            transition: 300ms;
        }    
    }
    .swipeout-content {
        position: relative;
        z-index: 10;
    }
    .swipeout-overswipe {
        -webkit-transition: 200ms left;
        transition: 200ms left;
    }
    .swipeout-actions-left, .swipeout-actions-right {
        position: absolute;
        top: 0;
        height: 100%;
        @include flexbox();
        a {
            padding: 0 24px;
            color:#fff;
            //background: #c7c7cc;
            border-left: 1px solid $gray-lighten;
            border-right: 1px solid $gray-lighten;
            @include flexbox();
            @include align-items(center);
            position: relative;
            left: 0;
            &:after {
                content:"";
                position: absolute;
                top: 0;
                width: 600%;
                height: 100%;
                background: inherit;
                z-index: -1;
            }
        }
        a.swipeout-delete {
            background: #FF8C00;
        }
    }
    .swipeout-actions-right {
        right: 0%;
        @include transform(translateX(100%));
        a:after {
            left: 100%;
            margin-left: -1px;
        }
    }
    .swipeout-actions-left {
        left: 0%;
        @include transform(translateX(-100%));
        a:after {
            right: 100%;
            margin-right: -1px;
        }
    }
    .item-subtitle {
        font-size: 14px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        text-overflow:ellipsis;
    }
    .item-text {
        font-size: 14px;
        color: #757575;
        line-height: 20px;
        position: relative;
        overflow: hidden;
        max-height: 40px;
        text-overflow:ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    &.media-list, li.media-item {
        .item-inner {
            display: block;
            padding-top: 14px;
            padding-bottom: 14px;
            @include align-self(stretch);
        }
        .item-link .item-inner {
            background: none;
            padding-right: 16px;
        }
        .item-link .item-title-row {
            padding-right: 26px;
            background: no-repeat right top;
            @include encoded-svg-background("<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='#c7c7cc'/></svg>");
            background-size: 10px 20px;
        }
        .item-media {
            padding-top: 14px;
            padding-bottom: 14px;
            @include align-self(flex-start);
            img {
                display: block;
            }
        }
        .item-title-row {
            @include flexbox();
            @include justify-content(space-between);
        }
        .item-content > .item-after {
            padding-top: 14px;
            padding-bottom: 14px;
            @include align-self(flex-start);
        }
    }
    .list-group {
        ul {
            &:after, &:before {
                z-index: 11;
            }
        }
        + .list-group ul {
            @include hairline-remove(top);   
        }
    }
    .item-divider, .list-group-title {
        background: #f4f4f4;
        @include hairline-remove(top);
        padding: 0px 16px;
        white-space: nowrap;
        position: relative;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        color: rgba(0,0,0,0.54);
        height: 48px;
        box-sizing: border-box;
        line-height: 48px;
        font-size: 14px;
    }
    .list-group-title {
        position: relative;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: sticky;
        top: 0px;
        z-index: 10;
        margin-top: 0;
    }
    // Sortable
    .sortable-handler {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 1px;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: 18px 12px;
        background-position: center;
        width: 50px;
        @include encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 12' fill='#c7c7cc'><path d='M0,2V0h22v2H0z'/><path d='M0,7V5h22v2H0z'/><path d='M0,12v-2h22v2H0z'/></svg>");
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        @include transition(300ms);
    }
    &.sortable {
        .item-inner {
            @include transition(300ms);       
        }
    }
    &.sortable-opened {
        .sortable-handler {
            visibility: visible;
            opacity: 1;
        }
        .item-inner, .item-link .item-inner {
            padding-right: 16px + 18px + 16px;
        }
        .item-link .item-inner, .item-link .item-title-row {
            background-image: none;
        }
    }
    &.sortable-sorting {
        li {
            @include transition(300ms);
        }
    }
    li.sorting {
        z-index: 50;
        background: rgba(255,255,255,0.8);
        @include depth(2);
        @include transition(0ms);
        .item-inner {
            @include hairline-remove(bottom);
        }
    }

    // Last-childs
    li {
        &:last-child {
            .list-button {
                @include hairline-remove(bottom);
            }
        }
        &:last-child, &:last-child li:last-child {
            .item-inner {
                @include hairline-remove(bottom);
            }
        }
        li:last-child, &:last-child li {
            .item-inner {
                //@include hairline(bottom, $listBlockBorderColor);
            }
        }
    }
}

    .high-block {
        .item-inner {
            padding-top: 9px;
            padding-bottom: 9px;
            &:after {
                top: 17.5px !important;
            }
        }
    }

.item-inner {
    &:after {
        background-repeat: no-repeat;
    }
}

.list-open {
    &__item {
        & + & {
            margin-top: 20px;
        }
    }
}