/* === Panels === */
$panelWidth:260px;
$panelsDuration: 300ms;
.panel-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    z-index: 5999;
    display: none;
    @include transform(translate3d(0,0,0));
    @include transition($panelsDuration);
}
.panel {
    z-index: 1000;
    display: none;
    //background: #fff;
    box-sizing: border-box;
    @include scrollable();
    position: absolute;
    max-width: 600px;
    min-width: 320px;
    top: 0;
    height: 100%;
    @include translate3d(0);
    @include transition($panelsDuration);

    &.panel-left {

        &.panel-cover {
            z-index: 6000;
            top: -100%;
            left: 0;
            right: 0;
            margin: auto;
            padding-top: 50px;
        }
        &.panel-reveal {
            left: 0;
        }
    }
    &.panel-right {
        &.panel-cover {
            z-index: 6000;
            right: -$panelWidth;
        }
        &.panel-reveal {
            right: 0;
        }
    }
    &.panel-top {
        &.panel-cover {
            z-index: 6000;
            top: -$panelWidth;
        }
        &.panel-reveal {
            top: 0;
        }
    }
}
body.with-panel-left-cover, body.with-panel-right-cover {
    .panel {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    }
    .views {
        @include translate3d(0);
    }
    .panel-overlay {
        display: block;
        opacity: 1;
    }
}
body.with-panel-left-reveal, body.with-panel-right-reveal {
    .views {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
        @include transition($panelsDuration);
        -webkit-transition-property: -webkit-transform, box-shadow;
        -moz-transition-property: -moz-transform, box-shadow;
        transition-property: transform, box-shadow;
    }
    .panel-overlay {
        background: rgba(0,0,0,0);
        display: block;
        opacity: 0;
    }
}
body.with-panel-left-reveal {
    .views {
        @include translate3d($panelWidth);
    }
    .panel-overlay {
        @include translate3d($panelWidth);
    }
}
body.with-panel-left-cover {
    .panel-left {
        @include translate3d(0, 100%, 0);
    }
}
body.with-panel-right-reveal {
    .views {
        @include translate3d(-$panelWidth);
    }
    .panel-overlay {
        @include translate3d(-$panelWidth);
    }
}
body.with-panel-right-cover {
    .panel-right {
        @include translate3d(-$panelWidth);
    }
}
body.panel-closing {
    .panel-overlay {
        display: block;
    }
    .views {
        @include transition($panelsDuration);
        -webkit-transition-property: -webkit-transform, box-shadow;
        -moz-transition-property: -moz-transform, box-shadow;
        transition-property: transform, box-shadow;
    }
}
.panel-menu {
    background-color: $red;
    height: 100%;
}