.page-content
    .content-block-title Табло аэропортов
    .list-block--m.margbot0
        .content-block-subtitle ШЕРЕМЕТЬЕВО ВЫЛЕТ
        .row.pad15.middle-xs
            .left.text-xs.light Последнее обновление: 02.10.2016, 14:10
            .right
                a(href="#").item-link.external
                    i.icon--up-g
    .list-block.inputs-list.margbot10.margtop0
        ul
            li
                .item-content
                    .item-media
                        i.icon.icon--date
                    .item-inner
                        .item-input
                            input#ks-calendar-default1.form-control(type="text", placeholder="Дата", readonly)
            li
                .item-content
                    .item-media
                        i.icon.icon--flights
                    .item-inner
                        .item-input
                            input.form-control(type="text", placeholder="Номер рейса или направление")
    .list-block.list-block--stripped.margbot10.margtop10.arrow-block.high-block
        a(href="#", data-popup=".demo-popup").open-popup.item-link.item-content
            .item-inner
                .item-title.all-name--js
                    span.main 2406 — Рим (31 марта)
                    span.submain: span.text-default По расписанию 11:35, Вылетел 11:52, Терм. D
        a(href="#", data-popup=".demo-popup").open-popup.item-link.item-content
            .item-inner
                .item-title.all-name--js
                    span.main 2406 — Рим (31 марта)
                    span.submain: span.text-default По расписанию 11:35, Вылетел 11:52, Терм. D
        a(href="#", data-popup=".demo-popup").open-popup.item-link.item-content
            .item-inner
                .item-title.all-name--js
                    span.main 2406 — Рим (31 марта)
                    span.submain: span.text-default По расписанию 11:35, Вылетел 11:52, Терм. D
        a(href="#", data-popup=".demo-popup").open-popup.item-link.item-content
            .item-inner
                .item-title.all-name--js
                    span.main 2406 — Рим (31 марта)
                    span.submain: span.text-default По расписанию 11:35, Вылетел 11:52, Терм. D
        a(href="#", data-popup=".demo-popup").open-popup.item-link.item-content
            .item-inner
                .item-title.all-name--js
                    span.main 2406 — Рим (31 марта)
                    span.submain: span.text-default По расписанию 11:35, Вылетел 11:52, Терм. D
        a(href="#", data-popup=".demo-popup").open-popup.item-link.item-content
            .item-inner
                .item-title.all-name--js
                    span.main 2406 — Рим (31 марта)
                    span.submain: span.text-default По расписанию 11:35, Вылетел 11:52, Терм. D
