.page-content
    .content-block-title Табло аэропортов
    .list-block.list-block--stripped.arrow-block
        a(href="airports-inner.html").external.item-content.link-grey
            .item-media
                i.icon.icon--plane-up-o
            .item-inner
                .item-title Шереметьево вылет
        a(href="airports-inner.html").external.item-content.link-grey
            .item-media
                i.icon.icon--plane-down-o
            .item-inner
                .item-title Шереметьево прилет
        a(href="airports-inner.html").external.item-content.link-grey
            .item-media
                i.icon.icon--plane-up-g
            .item-inner
                .item-title Домодедово вылет
        a(href="airports-inner.html").external.item-content.link-grey
            .item-media
                i.icon.icon--plane-down-g
            .item-inner
                .item-title Домодедово прилет
        a(href="airports-inner.html").external.item-content.link-grey
            .item-media
                i.icon.icon--plane-up-b
            .item-inner
                .item-title Внуково вылет
        a(href="airports-inner.html").external.item-content.link-grey
            .item-media
                i.icon.icon--plane-down-b
            .item-inner
                .item-title Внуково прилет