.page-content
    .content-block-title Авторизация
    .social.text-center.margbot10
        .row
            .col-33.social__item
                a(href="#"): .icon-soc.icon-soc--fa
            .col-33.social__item
                a(href="#"): .icon-soc.icon-soc--vk
            .col-33.social__item
                a(href="#"): .icon-soc.icon-soc--ins
    .list-block.inputs-list.form-check--tckjs.margbot10.margtop10
        ul
            li.form-item--js
                .item-content
                    .item-media
                        i.icon.icon--mail
                    .item-inner
                        .item-title.floating-label E-mail
                        .item-input
                            input.form-control(type="email", placeholder="")
            li.form-item--js
                .item-content.false
                    .item-media
                        i.icon.icon--pass
                    .item-inner
                        .item-title.floating-label Пароль
                        .item-input
                            input.form-control(type="password", placeholder="")
                a.btn.btn--warning.btn--full.external(href="#") Неверный пароль
    .margtop10
        a.btn--tckjs.btn.btn--primary.btn--full.external(href="payment-sale.html", disabled=true, data-text="АВТОРИЗОВАТЬСЯ") ЗАПОЛНИТЕ ВСЕ ПОЛЯ
    .buttons-row.row.buttons-block.margtop10
        .col-50.buttons__item
            a.btn.btn--default.btn--full.external(href="reg.html") РЕГИСТРАЦИЯ
        .col-50.buttons__item
            a.btn.btn--default.btn--full.external(href="#") ЗАБЫЛИ ПАРОЛЬ?
