.page-content
    .content-block-title Выбор билета
    .list-block.accordion-list.accordion-list--choose.form-check--tckjs.margbot0.marg-list
        ul
            li.accordion-item.form-item--js
                a(href="#").item-link.item-content
                    .item-media
                        i.icon.icon--date
                    .item-inner.pad0
                        .item-input
                            input#calendar-events.form-control(type="text", placeholder="Дата поездки", readonly, style="cursor: pointer;")
                .accordion-item-content
                    .content-block
                        #ks-calendar-inline-container(style="width:auto")
            li.accordion-item.form-item--js
                a(href="#").item-link.item-content
                    .item-media
                        i.icon.icon--tariff
                    .item-inner
                        .item-title.tariff-name--js Тариф
                .accordion-item-content
                    .content-block
                        .list-block.tariff--js
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="Стандарт")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title Стандарт
                                .item-after
                                    b.text-lg 420 Р
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="Бизнес")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title Бизнес
                                .item-after
                                    b.text-lg 1000 Р
            li.accordion-item.form-item--js
                a(href="#").item-link.item-content
                    .item-media
                        i.icon.icon--route
                    .item-inner
                        .item-title.route-name--js Маршрут
                .accordion-item-content
                    .content-block
                        .list-block.route--js
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="Павелецкий — Домодедово")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title Павелецкий — Домодедово
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="Белорусский — Шереметьево")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title Белорусский — Шереметьево
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="Киевский — Внуково")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title Киевский — Внуково
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="Домодедово — Павелецкий")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title Домодедово — Павелецкий
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="Шереметьево — Белорусский")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title Шереметьево — Белорусский
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="Киевский — Внуково")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title Киевский — Внуково
            li.accordion-item.form-item--js
                a(href="#").item-link.item-content
                    .item-media
                        i.icon.icon--flights
                    .item-inner
                        .item-title.fly-name--js Рейс (Свободно мест)
                .accordion-item-content
                    .content-block
                        .list-block.fly--js
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="00:00 — 00:35")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 00:00 — 00:35 (4)
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="05:30 — 06:05")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 05:30 — 06:05 (28)
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="06:00 — 06:35")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 06:00 — 06:35 (28)
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="07:00 — 07:35")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 07:00 — 07:35 (28)
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="07:30 — 08:36")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 07:30 — 08:36 (28)
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="07:30 — 08:36")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 07:30 — 08:36 (28)
            li.accordion-item.form-item--js
                a(href="#").item-link.item-content
                    .item-media
                        i.icon.icon--tickets
                    .item-inner
                        .item-title.ticket-name--js Количество билетов
                .accordion-item-content
                    .content-block
                        .list-block.ticket--js
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="1")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 1
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="2")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 2
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="3")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 3
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="4")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 4
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="5")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 5
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="6")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 6
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="7")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 7
                            label.label-radio.item-content
                                input(type="radio", name="ks-radio", value="8")
                                .item-media.item-media--empty
                                .item-inner
                                    .item-title 8
    .ticket-block.text-center
        b 2000 Р
    .ticket-btn
        a.btn--tckjs.btn.btn--primary.btn--full.external(href="payment.html", disabled=true, data-text="ПРОДОЛЖИТЬ ПОКУПКУ") ЗАПОЛНИТЕ ВСЕ ПОЛЯ
