.page-content
    .content-block-title Личный кабинет
    .list-block.margbot10
        .content-block-subtitle.text--uppercase Мои билеты
        .row.pad15.middle-xs
            .left.text-xs.light Последнее обновление: 02.10.2016, 14:10
            .right
                a(href="#").item-link.external 
                    i.icon--up-g
        .swiper-container.swiper-3
            .swiper-pagination
            .swiper-wrapper
                - for(var i =0; i < 5; i++)
                    .swiper-slide
                        .qrcode 
                            .qrcode-header
                                p
                                    span.text-lg 2/5
                                    |  №1000000000091121
                                p Великоконстантинопольский А.С
                            .qrcode-body
                                img(src="images/qr.jpg", alt="")
                            .qrcode-footer
                                a.text--uppercase.open-pop(href="#" data-popup=".demo-popup2") ИНФОРМАЦИЯ О БИЛЕТЕ
        .buttons-row.row.buttons-block.margtop10
            .col-50.buttons__item
                a.btn.btn--default.btn--full.external(href="#") ДОБАВИТЬ В PASSBOOK
            .col-50.buttons__item
                a.btn.btn--default.btn--full.open-pop(href="#" data-popup=".demo-popup3") КАК ПОЛЬЗОВАТЬСЯ БИЛЕТОМ?
