.page-content
    .content-block-title Личный кабинет
    .list-block.margbot10
        .content-block-subtitle.text--uppercase Мои заказы 1/3
        .row.pad15.middle-xs
            .left.text-xs.light Последнее обновление: 02.10.2016, 14:10
            .right
                a(href="#").item-link.external
                    i.icon--up-g
    .list-block.accordion-list.accordion-list--choose.margtop0.marg-list
        .buttons-row
            a.tab-link.active.button(href="#tab1") Новые
            a.tab-link.button(href="#tab2") Использованные
        .tabs.tabs-top
            #tab1.tab.active         
                ul.text-md 
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                ul
                                    li
                                        .item-content 
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                    li
                                        a.btn.btn--warning-tr.btn--full.external(href="cabinet-ordersedit.html") РЕДАКТИРОВАТЬ ЗАКАЗ
                                    li.ticket-block.text-center(style="display: block;")
                                        b 2000 Р
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                .item-content.false.margtop10.margbot10
                                    .item-media: i.icon.icon--attention
                                    .item-inner
                                        .item-title.text--normal.text--info Заказы не может быть изменен так как внутри есть билеты по специальным ценам
                                ul
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                     li
                                        .item-content
                                            .item-media
                                                i.icon.icon--bonus
                                            .item-inner Использовано 2000 баллов
                                    li.ticket-block.text-center(style="display: block;")
                                        b 2000 Р
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                .item-content.false.margtop10.margbot10
                                    .item-media: i.icon.icon--attention
                                    .item-inner
                                        .item-title.text--normal.text--info Заказ редактировался 02.10.2016 в 21:00 и больше не может быть изменен
                                ul
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                    li.ticket-block.text-center(style="display: block;")
                                        b 420 Р 
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                .item-content.false.margtop10.margbot10
                                    .item-media: i.icon.icon--attention
                                    .item-inner
                                        .item-title.text--normal.text--info Заказ редактировался 02.10.2016 в 21:00 и больше не может быть изменен
                                ul
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                    li.ticket-block.text-center(style="display: block;")
                                        b 420 Р 
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                .item-content.false.margtop10.margbot10
                                    .item-media: i.icon.icon--attention
                                    .item-inner
                                        .item-title.text--normal.text--info Заказ редактировался 02.10.2016 в 21:00 и больше не может быть изменен
                                ul 
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                    li.ticket-block.text-center(style="display: block;")
                                        b 420 Р 
            #tab2.tab 
                .text-md.list-open
                    .list-open__item
                         ul
                            li.accordion-item
                                .item-content.text-lg №21102006
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--date
                                    .item-inner.pad0
                                        .item-input
                                            input#calendar-events.form-control(type="text", value="02.10.2006", readonly, style="cursor: pointer;")
                                .accordion-item-content
                                    .content-block
                                        #ks-calendar-inline-container(style="width:auto")
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--tariff
                                    .item-inner
                                        .item-title.tariff-name--js: span.text--info Бизнес
                                .accordion-item-content
                                    .content-block
                                        .list-block.tariff--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Стандарт")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Стандарт
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Бизнес")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Бизнес
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--route
                                    .item-inner
                                        .item-title.route-name--js: span.text--info Белорусский—Шереметьево
                                .accordion-item-content
                                    .content-block
                                        .list-block.route--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Павелецкий — Домодедово")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Павелецкий — Домодедово
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Белорусский — Шереметьево")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Белорусский — Шереметьево
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Киевский — Внуково")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Киевский — Внуково
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Домодедово — Павелецкий")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Домодедово — Павелецкий
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Шереметьево — Белорусский")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Шереметьево — Белорусский
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Киевский — Внуково")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Киевский — Внуково
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--flights
                                    .item-inner
                                        .item-title.fly-name--js: span.text--info 08:00 — 08:35
                                .accordion-item-content
                                    .content-block
                                        .list-block.fly--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="00:00 — 00:35")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 00:00 — 00:35 (4)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="05:30 — 06:05")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 05:30 — 06:05 (28)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="06:00 — 06:35")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 06:00 — 06:35 (28)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="07:00 — 07:35")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 07:00 — 07:35 (28)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="07:30 — 08:36")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 07:30 — 08:36 (28)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="07:30 — 08:36")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 07:30 — 08:36 (28)
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--tickets
                                    .item-inner
                                        .item-title.ticket-name--js: span.text--info 2
                                .accordion-item-content
                                    .content-block
                                        .list-block.ticket--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="1")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 1
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="2")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 2
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="3")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 3
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="4")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 4
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="5")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 5
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="6")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 6
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="7")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 7
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="8")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 8
                         .ticket-block.text-center(style="display:block")
                            b.text--default 2000 Р
                    .list-open__item
                         ul
                            li.accordion-item
                                .item-content.text-lg №21102006
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--date
                                    .item-inner.pad0
                                        .item-input
                                            input#calendar-events2.form-control(type="text", value="02.10.2006", readonly, style="cursor: pointer;")
                                .accordion-item-content
                                    .content-block
                                        #ks-calendar-inline-container2(style="width:auto")
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--tariff
                                    .item-inner
                                        .item-title.tariff-name--js: span.text--info Бизнес
                                .accordion-item-content
                                    .content-block
                                        .list-block.tariff--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio1", value="Паспорт")
                                                .item-media
                                                .item-inner
                                                    .item-title Стандарт
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio1", value="Права")
                                                .item-media
                                                .item-inner
                                                    .item-title Бизнес
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--route
                                    .item-inner
                                        .item-title.route-name--js: span.text--info Белорусский—Шереметьево
                                .accordion-item-content
                                    .content-block
                                        .list-block.route--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Павелецкий — Домодедово")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Павелецкий — Домодедово
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Белорусский — Шереметьево")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Белорусский — Шереметьево
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Киевский — Внуково")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Киевский — Внуково
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Домодедово — Павелецкий")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Домодедово — Павелецкий
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Шереметьево — Белорусский")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Шереметьево — Белорусский
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Киевский — Внуково")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Киевский — Внуково
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--flights
                                    .item-inner
                                        .item-title.fly-name--js: span.text--info 08:00 — 08:35
                                .accordion-item-content
                                    .content-block
                                        .list-block.fly--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="00:00 — 00:35")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 00:00 — 00:35 (4)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="05:30 — 06:05")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 05:30 — 06:05 (28)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="06:00 — 06:35")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 06:00 — 06:35 (28)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="07:00 — 07:35")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 07:00 — 07:35 (28)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="07:30 — 08:36")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 07:30 — 08:36 (28)
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="07:30 — 08:36")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 07:30 — 08:36 (28)
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--tickets
                                    .item-inner
                                        .item-title.ticket-name--js: span.text--info 2
                                .accordion-item-content
                                    .content-block
                                        .list-block.ticket--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="1")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 1
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="2")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 2
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="3")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 3
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="4")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 4
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="5")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 5
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="6")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 6
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="7")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 7
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="8")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 8
                            li.accordion-item
                                .item-content
                                    .item-media
                                        i.icon.icon--bonus
                                    .item-inner Использовано 2000 баллов
                                .accordion-item-content
                                    .content-block
                                        .list-block.ticket--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="1000")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Использовано 1000 баллов
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="2000")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title Использовано 2000 баллов
                         .ticket-block.text-center(style="display:block")
                            b.text--default 3000 Р
                    .list-open__item
                         ul
                            li.accordion-item
                                .item-content.text-lg №21102006
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--date
                                    .item-inner.pad0
                                        .item-input
                                            input#calendar-events3.form-control(type="text", value="02.10.2006", readonly, style="cursor: pointer;")
                                .accordion-item-content
                                    .content-block
                                        #ks-calendar-inline-container3(style="width:auto")
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--tariff
                                    .item-inner
                                        .item-title.tariff-name--js: span.text--info Стандарт
                                .accordion-item-content
                                    .content-block
                                        .list-block.tariff--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio1", value="Стандарт")
                                                .item-media
                                                .item-inner
                                                    .item-title Стандарт
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio1", value="Бизнес")
                                                .item-media
                                                .item-inner
                                                    .item-title Бизнес
                            li.accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--tickets
                                    .item-inner
                                        .item-title.ticket-name--js: span.text--info 1
                                .accordion-item-content
                                    .content-block
                                        .list-block.ticket--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="1")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 1
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="2")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 2
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="3")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 3
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="4")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 4
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="5")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 5
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="6")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 6
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="7")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 7
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="8")
                                                .item-media.item-media--empty
                                                .item-inner
                                                    .item-title 8
                         .ticket-block.text-center(style="display:block")
                            b.text--default 420 Р
               