.page-content
    .content-block-title Личный кабинет
    .list-block.list-block--stripped.margbot10
        .content-block-subtitle БОНУСНЫЙ СЧЕТ
        .row.pad15.middle-xs
            .left.text-xs.light Последнее обновление: 02.10.2016, 14:10
            .right
                a(href="#").item-link.external
                    i.icon--up-g
        .item-content.margbot10
            .item-media.top
                .icon.icon--bonus
            .item-inner
                span Ваш баланс
            .item-after.item-after--nonarr
                b.text-lg 350
    .list-block.inputs-list.form-check--tckjs.margtop10
        ul
            li.form-item--js
                .item-content
                    .item-inner
                        .item-title.floating-label.focus-state №6811326
                        .item-input
                            input#ks-calendar-range1.form-control.text-warning(type="text", value="30.03.2015 — 29.03.2016", readonly)
                    .item-after.item-after--nonarr
                        b.text-md +350
            li.form-item--js
                .item-content
                    .item-inner
                        .item-title.floating-label.focus-state №6811326
                        .item-input
                            input#ks-calendar-default1.form-control(type="text", value="30.12.2015", readonly)
                    .item-after.item-after--nonarr
                        b.text-md.text--primary -100
            li.form-item--js
                .item-content
                    .item-inner
                        .item-title.floating-label.focus-state №6811324
                        .item-input
                            input#ks-calendar-range2.form-control(type="text", value="30.12.2015 — 29.12.2016", readonly)
                    .item-after.item-after--nonarr
                        b.text-md +50
            li.form-item--js
                .item-content
                    .item-inner
                        .item-title.floating-label.focus-state №6811324
                        .item-input
                            input#ks-calendar-range3.form-control(type="text", value="30.12.2015 — 29.12.2016", readonly)
                    .item-after.item-after--nonarr
                        b.text-md +50
            li.form-item--js
                .item-content
                    .item-inner
                        .item-title.floating-label.focus-state №6811324
                        .item-input
                            input#ks-calendar-default2.form-control(type="text", value="30.12.2015", readonly)
                    .item-after.item-after--nonarr
                        b.text-md.text--primary -50