.page-content
    .content-block-title Личный кабинет
    .list-block.list-block--stripped.margbot10
        .content-block-subtitle CООБЩЕНИЯ
        .toolbar.tabbar.tabbar-labels
            .toolbar-inner
                a.external(href="#")
                    i.icon.icon--innmess-r
                        span.badge.bg-blue 99
                a.external(href="#")
                    i.icon.icon--message
                a.external(href="#")
                    i.icon.icon--createmess
    .list-block.form-check--tckjs.margtop10
        form.accordion-list--choose
            ul
                li.double-input.accordion-item.margbot10
                    a(href="#").item-link.item-content
                        .item-media.pad0
                            .row.text-center
                                .col-100
                                    span.ball.active
                                .col-100
                                    i.icon.icon--outmess
                        .item-inner
                            .item-title
                                span.submain: span.text-default 02.10.2016, 12:02
                                span.main: span.text--info Новые условия начисления...
                    .accordion-item-content
                        .content-block
                            .item-content
                                .item-inner
                                    span.text-md Тестовое письмо от компании Аэроэкспресс. Пожалуйста, не отвечайте на него.
                li.double-input.accordion-item.margbot10
                    a(href="#").item-link.item-content
                        .item-media.pad0
                            .row.text-center
                                .col-100
                                    span.ball
                                .col-100
                                    i.icon.icon--outmess
                        .item-inner
                            .item-title
                                span.submain: span.text-default 02.10.2016, 12:02
                                span.main: span.text--info Новые условия начисления...
                    .accordion-item-content
                        .content-block
                            .item-content
                                .item-inner
                                    span.text-md Тестовое письмо от компании Аэроэкспресс. Пожалуйста, не отвечайте на него.
                li.swipeout.double-input.accordion-item.margbot10
                    .item-link.item-content.swipeout-content
                        .item-media.pad0
                            .row.text-center
                                .col-100
                                    span.ball
                                .col-100
                                    i.icon.icon--outmess
                        .item-inner
                            .item-title
                                span.submain: span.text-default 02.10.2016, 12:02
                                span.main: span.text--info Новые условия начисления...
                    .accordion-item-content
                        .content-block
                            .item-content
                                .item-inner
                                    span.text-md Тестовое письмо от компании Аэроэкспресс. Пожалуйста, не отвечайте на него.
                    .swipeout-actions-right
                        a(href="#").demo-actions: i.icon.icon--info
                        a(href="#").swipeout-delete: i.icon.icon--close-w