.page-content
    .content-block-title Личный кабинет
    .list-block.inputs-list.form-check--tckjs.margbot0.margtop10
        .content-block-subtitle.margtop20 ОСНОВНЫЕ ДАННЫЕ
        ul
            li.form-item--js
                .item-content.false
                    .item-media
                        i.icon.icon--mail
                    .item-inner
                        .item-input
                            input.form-control(type="text", value="ryanbingham@icloud.com")
                a.btn.btn--warning.btn--full.margbot10.external(href="#") ПОДТВЕРДИТЕ E-MAIL
            li.form-item--js
                .item-content.edited
                    .item-media
                        i.icon.icon--numphone
                    .item-inner
                        .item-input
                            input.form-control(type="text", value="+79057111112")
                .buttons-row.row.buttons-block.margtop10.margbot10
                    .col-50.buttons__item
                        a.btn.btn--default.btn--full.external(href="#") ОТМЕНИТЬ
                    .col-50.buttons__item
                        a.btn.btn--primary.btn--full.external(href="#") СОХРАНИТЬ
            li.form-item--js
                .item-content
                    .item-media
                        i.icon.icon--pass
                    .item-inner
                        .item-input
                            input.form-control(type="password", value="adminam")
    .list-block.margbot10.margtop0.text-md.text-primary
        ul.check--js
            li
                label.label-radio.item-content
                    input(type="checkbox", name="ks-checkbox1", value="Получать рекламные сообщения", checked)
                    .item-media
                        i.icon.icon-form-radio
                    .item-inner
                        div Получать &nbsp;
                            a.text-primary.link-un.light(href="#") рекламные сообщения
            li
                label.label-radio.item-content.checked--js
                    input(type="checkbox", name="ks-checkbox", value="Я согласен стать участником", checked)
                    .item-media
                        i.icon.icon-form-radio
                    .item-inner
                        div Я согласен стать участником &nbsp;
                            a.text-primary.link-un.external.light(href="#") программы бонусов и вознаграждений
        .tabs
            .page-content.tab.active
                .list-block.inputs-list.form-check--tckjs.margbot0.margtop10
                    .content-block-subtitle.margtop20 БОНУСНАЯ ПРОГРАММА
                    ul
                        li
                            .item-content
                                .item-media
                                    i.icon.icon--cabinet
                                .item-inner
                                    .item-input
                                        input.form-control(type="text", value="Ryan Bingham")
                        li.accordion-list--choose.list-block.margtop0.margbot0
                            .accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--gender
                                    .item-inner
                                        .item-title.tariff-name--js: span Пол
                                .accordion-item-content
                                    .content-block
                                        .list-block.tariff--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Мужской")
                                                .item-media
                                                    //i.icon.icon-form-radio
                                                .item-inner
                                                    .item-title Мужской
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Женский")
                                                .item-media
                                                    //i.icon.icon-form-radio
                                                .item-inner
                                                    .item-title Женский
                        li
                            .item-content.disabled
                                .item-media
                                    i.icon.icon--birth
                                .item-inner
                                    .item-input
                                        input.form-control(type="text", value="02.10.1979", readonly, disabled)
                        li
                            .item-content
                                .item-media
                                    i.icon.icon--city
                                .item-inner
                                    //.item-title.floating-label Город
                                    .item-input
                                        input.form-control(type="text", value="Los Angeles")
                        li
                            .item-content
                                .item-media
                                    i.icon.icon--plane-up
                                .item-inner
                                    .item-input
                                        input.form-control(type="text", value="365 Полетов в год")
        .content-block-subtitle.margtop20 ПАСПОРТНЫЕ ДАННЫЕ
        form.accordion-list--choose.list-block.margtop0.margbot0
            .accordion-item
                a(href="#").item-link.item-content.height50
                    .item-media
                        i.icon.icon--cabinet
                    .item-inner
                        .item-title.all-name--js
                            span.main: span.text--info Великоконстантинопольский
                            span.submain: span.text--info Паспорт
                .accordion-item-content.accordion-main-arr
                    .content-block
                        .list-block
                            .item-content.b-top1
                                .item-inner.pad0
                                    .item-input.all--js
                                        input.form-control(type="text", value="Великоконстантинопольский", placeholder="Фамилия")
                            .item-content
                                .item-inner.pad0
                                    .item-input
                                        input.form-control(type="text", value="А.С.", placeholder="Инициалы")
                            .accordion-item.b-top1
                                a(href="#").item-link.item-content
                                    .item-inner
                                        .item-title.document-name--js: span.text--info Паспорт
                                .accordion-item-content
                                    .content-block
                                        .list-block.document--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio1", value="Паспорт", checked)
                                                .item-media
                                                .item-inner
                                                    .item-title Паспорт
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio1", value="Права")
                                                .item-media
                                                .item-inner
                                                    .item-title Права
                            .item-content.b-top1
                                .item-inner.pad0
                                    .item-input
                                        input.form-control(type="text", value="хххххх1234", placeholder="Номер документа")
            .margtop10
                button.btn.btn--primary.btn--full.external(type="submit") СОХРАНИТЬ ДАННЫЕ
                button.btn.btn--default.btn--full.external(type="reset") ОЧИСТИТЬ ПОЛЯ