.page-content
    .content-block-title Личный кабинет
    .list-block.list-block--stripped
        a(href="cabinet-orders.html").external.item-content.link-grey
            .item-media
                i.icon.icon--tickets
            .item-inner
                .item-title Мои заказы и билеты
            .item-after
                b.text-md.margright10 2/2
                i.icon-arr.icon-arr--left-r
        a(href="cabinet-mes.html").external.item-content.link-grey
            .item-media
                i.icon.icon--post
            .item-inner
                .item-title Сообщения
            .item-after
                b.text-md.margright10 99
                i.icon-arr.icon-arr--left-r
        a(href="cabinet-bonus.html").external.item-content.link-grey
            .item-media
                i.icon.icon--bonus
            .item-inner
                .item-title Бонусный счет
            .item-after
                b.text-md.margright10 3250
                i.icon-arr.icon-arr--left-r
        a(href="cabinet-data.html").external.item-content.link-grey
            .item-media
                i.icon.icon--cabinet
            .item-inner
                .item-title Личные данные
            .item-after
                i.icon-arr.icon-arr--left-r
        .margtop10
            a(href="#").external.item-content.link-grey
                .item-media
                    i.icon.icon--exit
                .item-inner
                    .item-title Выход