.page-content
    .content-block-title Личный кабинет
    .list-block.margbot10
        .content-block-subtitle.text--uppercase Мои заказы 1/3
        .row.pad15.middle-xs
            .left.text-xs.light Последнее обновление: 02.10.2016, 14:10
            .right
                a(href="#").item-link.external
                    i.icon--up-g
    .list-block.accordion-list.accordion-list--choose.margtop0.marg-list
        .buttons-row
            a.tab-link.active.button(href="#tab1") Новые
            a.tab-link.button(href="#tab2") Использованные
        .tabs.tabs-top
            #tab1.tab.active         
                ul.text-md 
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                ul
                                    li
                                        .item-content 
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                    li
                                        a.btn.btn--warning-tr.btn--full.external(href="cabinet-ordersedit.html") РЕДАКТИРОВАТЬ ЗАКАЗ
                                    li.ticket-block.text-center(style="display: block;")
                                        b 2000 Р
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                .item-content.false.margtop10.margbot10
                                    .item-media: i.icon.icon--attention
                                    .item-inner
                                        .item-title.text--normal.text--info Заказы не может быть изменен так как внутри есть билеты по специальным ценам
                                ul
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                     li
                                        .item-content
                                            .item-media
                                                i.icon.icon--bonus
                                            .item-inner Использовано 2000 баллов
                                    li.ticket-block.text-center(style="display: block;")
                                        b 2000 Р
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                .item-content.false.margtop10.margbot10
                                    .item-media: i.icon.icon--attention
                                    .item-inner
                                        .item-title.text--normal.text--info Заказ редактировался 02.10.2016 в 21:00 и больше не может быть изменен
                                ul
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                    li.ticket-block.text-center(style="display: block;")
                                        b 420 Р 
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                .item-content.false.margtop10.margbot10
                                    .item-media: i.icon.icon--attention
                                    .item-inner
                                        .item-title.text--normal.text--info Заказ редактировался 02.10.2016 в 21:00 и больше не может быть изменен
                                ul
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                    li.ticket-block.text-center(style="display: block;")
                                        b 420 Р 
                    li.accordion-item.accordion-item--null
                        a(href="#").item-link.item-content.high-block
                            .item-inner
                                .item-title
                                    span.submain №6811326
                                    span.main: span.text--info Заказ: 30.12.2015; Рейс 29.12.2016
                        .accordion-item-content
                            .content-block
                                .item-content.false.margtop10.margbot10
                                    .item-media: i.icon.icon--attention
                                    .item-inner
                                        .item-title.text--normal.text--info Заказ редактировался 02.10.2016 в 21:00 и больше не может быть изменен
                                ul
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--date
                                            .item-inner 2 Октября 2016
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--tariff
                                            .item-inner Бизнес
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--route
                                            .item-inner Белорусский—Шереметьево
                                    li
                                        .item-content
                                            .item-media
                                                i.icon.icon--flights
                                            .item-inner 08:00 — 08:35
                                    li.accordion-item
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--cabinet
                                            .item-inner
                                                .item-title.text--info Владельцы билетов
                                        .accordion-item-content
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                            .double-input.b-top1.margbot20
                                                .item-content
                                                    .item-inner
                                                        .item-title
                                                            span.submain: span.text-default Билет №1000000033514127
                                                            span.main: span.text--info Великоконстантинопольский А.С.
                                    li.accordion-item.danger-bg
                                        a(href="#").item-link.item-content
                                            .item-media
                                                i.icon.icon--tickets
                                                span 2
                                            .item-inner.center__jc
                                                .item-title Электронные билеты
                                    li.ticket-block.text-center(style="display: block;")
                                        b 420 Р 
            #tab2.tab 
                .text-md.list-open 
                    .list-open__item
                        ul.bg-white.list-block--stripped
                            li
                                .item-content.text-lg №21102006
                            li.item-content 
                                .item-media
                                    i.icon.icon--date
                                .item-inner 2 Октября 2016
                            li.item-content
                                .item-media
                                    i.icon.icon--tariff
                                .item-inner Бизнес
                            li.item-content
                                .item-media
                                    i.icon.icon--route
                                .item-inner Белорусский—Шереметьево
                            li.item-content
                                .item-media
                                    i.icon.icon--flights
                                .item-inner 08:00 — 08:35
                            li.item-content
                                .item-media
                                    i.icon.icon--tickets
                                .item-inner 2
                            li.ticket-block.text-center(style="display: block;")
                                b 2000 Р
                    .list-open__item
                        ul.bg-white.list-block--stripped
                            li
                                .item-content.text-lg №21102006
                            li.item-content 
                                .item-media
                                    i.icon.icon--date
                                .item-inner 2 Октября 2016
                            li.item-content
                                .item-media
                                    i.icon.icon--tariff
                                .item-inner Бизнес
                            li.item-content
                                .item-media
                                    i.icon.icon--route
                                .item-inner Белорусский—Шереметьево
                            li.item-content
                                .item-media
                                    i.icon.icon--flights
                                .item-inner 08:00 — 08:35
                            li.item-content
                                .item-media
                                    i.icon.icon--tickets
                                .item-inner 3
                             li.item-content
                                    .item-media
                                        i.icon.icon--bonus
                                    .item-inner Использовано 2000 баллов
                            li.ticket-block.text-center(style="display: block;")
                                b 3000 Р
                    .list-open__item
                        ul.bg-white.list-block--stripped
                            li
                                .item-content.text-lg №21102006
                            li.item-content 
                                .item-media
                                    i.icon.icon--date
                                .item-inner 2 Октября 2016
                            li.item-content
                                .item-media
                                    i.icon.icon--tariff
                                .item-inner Стандарт
                            li.item-content
                                .item-media
                                    i.icon.icon--tickets
                                .item-inner 1
                            li.ticket-block.text-center(style="display: block;")
                                b 420 Р

