.list-block.marg0
    include ../components/_navbar
.social.text-center
    .row
        .col-33.social__item
            a(href="#"): .icon-soc.icon-soc--fa
        .col-33.social__item
            a(href="#"): .icon-soc.icon-soc--vk
        .col-33.social__item
            a(href="#"): .icon-soc.icon-soc--ins