.page-content
    .content-block-title Информация
    .content-block-subtitle.text--uppercase ПРАВИЛА ПРОЕЗДА
    .content-block-inner.bg-white
        p.text-lg Общие положения
        p Настоящие Правила разработаны в соответствии с требованиями следующих нормативных документов:
        p Федерального закона РФ от 10.01.2003 года № 18-ФЗ «Устав железнодорожного транспорта РФ»;
        p Правил оказания услуг по перевозкам на железнодорожном транспорте пассажиров, а также грузов, багажа и грузобагажа для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности, утвержденных постановлением Правительства РФ от 2 марта 2005 года № 111;
        p Правил перевозок пассажиров, багажа, грузобагажа железнодорожным транспортом, утвержденных Приказом Министерства транспорта РФ от 19 декабря 2013 года # 473;