.page-content
    .content-block-title Информация
    .list-block.list-block--stripped.arrow-block
        a(href="info-inner.html").external.item-content.link-grey
            .item-inner
                .item-title Правила проезда
        a(href="info-inner.html").external.item-content.link-grey
            .item-inner
                .item-title Часто задаваемые вопросы
        a(href="info-inner.html").external.item-content.link-grey
            .item-inner
                .item-title О компании
        a(href="info-inner.html").external.item-content.link-grey
            .item-inner
                .item-title Правила «Аэроэкспресс Бонус»
        a(href="info-inner.html").external.item-content.link-grey
            .item-inner
                .item-title Контакты