.page-content
    .content-block-title Покупка билета
    .list-block.list-block--stripped.marg-list
        .content-block-subtitle ПАСПОРТНЫЕ ДАННЫЕ
        .item-content.margbot10
            .item-inner.light
                span Умный текст про то, на кого должны быть оформлены билеты и про то, что все билеты могут быть оформлены на один паспорт
        form
            .accordion-list--choose.list-block.margtop0.margbot0
                .accordion-item
                    a(href="#").item-link.item-content
                        .item-media
                            i.icon.icon--cabinet
                        .item-inner
                            .item-title.text--info Заполните билеты из шаблона
                    .accordion-item-content
                        .content-block.b-top1
                            .list-block.inputs-list.form-check--tckjs
                                ul
                                    li.form-item--js
                                        .item-content
                                            .item-inner
                                                .item-title.floating-label Паспорт
                                                .item-input
                                                    input.form-control(type="text", value="Великоконстантинопольский А.С.")
                                    li.form-item--js
                                        .item-content.focus-state
                                            .item-inner
                                                .item-title.floating-label Водительское удостоверение
                                                .item-input
                                                    input.form-control(type="text", value="Бо А.")
            .double-input.b-top1
                a(href="#slide1", data-popup=".ticket-popup1").open-about.item-link.item-content
                    .item-inner
                        .item-title
                            span.submain: span.text-default Билет №1000000033514127
                            span.main: span.text--info Великоконстантинопольский А.С.
            .double-input.b-top1
                a(href="#slide2", data-popup=".ticket-popup1").open-about.item-link.item-content
                    .item-inner
                        .item-title
                            span.submain: span.text-default Билет №1000000033514127
                            span.main: span.text--info Великоконстантинопольский А.С.
            .double-input.b-top1
                a(href="#slide3", data-popup=".ticket-popup1").open-about.item-link.item-content
                    .item-inner
                        .item-title
                            span.submain: span.text-default Билет №1000000033514127
                            span.main: span.text--info Бо А.
            .margtop10
                a.btn.btn--primary.btn--full.external(href="") К ОПЛАТЕ