.page-content
    .content-block-title Покупка билета
    .list-block.inputs-list.form-check--tckjs.margbot10
        .content-block-subtitle АДРЕС ДОСТАВКИ
        ul
            li.form-item--js
                .item-content
                    .item-media
                        i.icon.icon--mail
                    .item-inner
                        .item-title.floating-label E-mail
                        .item-input
                            input.form-control(type="email", placeholder="")
            li.form-item--js
                .item-content
                    .item-media
                        i.icon.icon--numphone
                        //i.icon.icon--contacts
                    .item-inner
                        .item-title.floating-label Мобильный номер
                        .item-input
                            input.form-control(type="text", placeholder="")
    .ticket-btn
        .buttons-row.row
            .col-33
                a.btn.btn--default.btn--full.external(href="") НАЗАД
            .col-75
                a.btn--tckjs.btn.btn--primary.btn--full.external(href="payment-sale.html", disabled=true, data-text="ПРОДОЛЖИТЬ ПОКУПКУ") ЗАПОЛНИТЕ ВСЕ ПОЛЯ
