.page-content
    .content-block-title Покупка билета
    .list-block.list-block--stripped
        .content-block-subtitle СКИДКИ
        .item-content.margbot10
            .item-media.top
                .icon.icon--bonus-r
            .item-inner
                span.light У вас есть
                    b  1150
                    |  бонусных баллов. Вы можете полностью или частично оплатить ими свою покупку
        ul
            li
                .item-content
                    .item-inner
                        .item-title Стоимость без скидки
                    .item-after.item-after--nonarr
                        b.text-lg 2502 Р
            li
                .item-content
                    .item-inner
                        .item-title Стоимость со скидкой
                    .item-after.item-after--nonarr
                        b.text-lg 2000 Р
            li
                .item-content
                    .item-inner
                        .item-title Спишется баллов
                    .item-after.item-after--nonarr
                        b.text-md 2000
            li
                .item-content
                    .item-inner
                        .item-title Останется баллов
                    .item-after.item-after--nonarr
                        b.text-md 5150
            li
                label.label-radio.item-content
                    input(type="checkbox", name="ks-radio", value="Использовать баллы", checked)
                    .item-media
                        i.icon.icon-form-radio
                    .item-inner
                        .item-title Использовать баллы
        div
           a.btn.btn--primary.btn--full.external(href="payment-card.html") К ОПЛАТЕ СО СКИДКОЙ
