.page-content
    .content-block-title Покупка билета
    .list-block.list-block--stripped-label
        .toolbar
            a.link
                i.icon--time-o
                span.text-md 14:59
            .content-block-subtitle ОПЛАТА
        .tabbar
            a(href="#tab1").tab-link
                label.label-radio.item-content
                    input(type="radio", name="ks-radio", value="1")
                    .item-media
                        i.icon.icon-form-radio
                    .item-inner
                        .item-title Оплата пластиковой картой
            a(href="#tab2").tab-link.b-top1
                label.label-radio.item-content.tab-link
                    input(type="radio", name="ks-radio", value="2")
                    .item-media
                        i.icon.icon-form-radio
                    .item-inner
                        .item-title Оплата с мобильного номера
            a(href="#tab3").tab-link.b-top1
                label.label-radio.item-content.tab-link
                    input(type="radio", name="ks-radio", value="3")
                    .item-media
                        i.icon.icon-form-radio
                    .item-inner
                        .item-title Оплата Pay Pal
        .tabs
            .page-content.tab(id="tab1")
                .list-block.inputs-list.margtop10.margbot10
                    .form-item--js
                        .padleft10.padright10
                            .card-block
                                .inner
                                   .card-block__item
                                       .row
                                           .col-100
                                               label.light НОМЕР КАРТЫ
                                               input.form-control(type="text", name="cnumb", value="2012 1979 2006 1978")
                                   .card-block__item
                                       .row
                                           .col-30
                                               label.light МЕСЯЦ
                                               input.form-control(type="text", name="cmonth", value="10", maxlength="2", pattern="0-9")
                                           .col-40
                                               label.light ГОД
                                               input.form-control(type="text", name="cyear", value="2020", maxlength="4", pattern="0-9")
                                           .col-30
                                   .card-block__item
                                       .row
                                           .col-100
                                               label.light ВЛАДЕЛЕЦ КАРТЫ (Латинскими буквами)
                                               input.form-control(type="text", value="RYAN BINGHAM")
                            .card-block.card-block--back
                                .inner
                                    .card-block__item
                                .card-block__item.card-block__item--line
                                .inner
                                   .card-block__item
                                       .row
                                           .col-60
                                           .col-40
                                               label.light КОД CVV
                                               input.form-control(type="text", name="ccvv", value="123", maxlength="3", pattern="0-9")
                .ticket-btn
                    a.btn.btn--primary.btn--full.external(href="#") ОПЛАТИТЬ
            .page-content.tab(id="tab2")
                .list-block.inputs-list.margtop10.margbot10
                    .form-item--js
                        .item-content
                            .item-media
                                i.icon.icon--numphone
                            .item-inner
                                //.item-title.floating-label Мобильный номер
                                .item-input
                                    input.form-control(type="text", value="+7 905 711-11-13")
                .ticket-btn
                    a.btn.btn--primary.btn--full.external(href="#") ОПЛАТИТЬ
            .page-content.tab(id="tab3")
                .ticket-btn
                   a.btn.btn--primary.btn--full.external(href="#") К ОПЛАТЕ НА САЙТ PAY PAL