.page-content
    .content-block-title Регистрация
    .social.text-center.margbot10
        .row
            .col-33.social__item
                a(href="#"): .icon-soc.icon-soc--fa
            .col-33.social__item
                a(href="#"): .icon-soc.icon-soc--vk
            .col-33.social__item
                a(href="#"): .icon-soc.icon-soc--ins
    .list-block.inputs-list.form-check--tckjs.margbot0.margtop10
        .content-block-subtitle.margtop20 ОСНОВНЫЕ ДАННЫЕ
        ul
            li.form-item--js
                .item-content.false
                    .item-media
                        i.icon.icon--mail
                    .item-inner
                        .item-title.floating-label E-mail
                        .item-input
                            input.form-control(type="email", placeholder="")
                a.btn.btn--warning.btn--full.external.margbot10(href="#") ПОДТВЕРДИТЕ E-MAIL
            li.form-item--js
                .item-content.false
                    .item-media
                        i.icon.icon--contacts
                    .item-inner
                        .item-title.floating-label Мобильный номер
                        .item-input
                            input.form-control(type="text", placeholder="")
                a.btn.btn--warning.btn--full.external.margbot10(href="#") ПОДТВЕРДИТЕ ТЕЛЕФОН
            li.form-item--js
                .item-content.false
                    .item-media
                        i.icon.icon--pass
                    .item-inner
                        .item-title.floating-label Пароль
                        .item-input
                            input.form-control(type="password", placeholder="")
                ul.list-block.margbot10.margtop10.text-md.text-primary
                    li.item-content--tr
                        .item-media

                        .item-inner
                            |  Требования к паролю:
                    li.item-content--tr
                        .item-media
                            i.icon--ok-g
                        .item-inner.light
                            |  8 и более символов
                    li.item-content--tr
                        .item-media
                            i.icon--ok-g
                        .item-inner.light
                            |  Прописные и строчные буквы
                    li.item-content--tr
                        .item-media
                            i.icon--ok-g
                        .item-inner.light
                            |  Хотя бы одна цифра
            li.form-item--js
                .item-content.false
                    .item-media
                        i.icon.icon--passrep
                    .item-inner
                        .item-title.floating-label Повтор пароля
                        .item-input
                            input.form-control(type="password", placeholder="")
                a.btn.btn--warning.btn--full.external(href="#") ПАРОЛИ НЕ СОВПАДАЮТ
    .list-block.margbot10.margtop0.text-md.text-primary
        ul.check--js
            li
                label.label-radio.item-content
                    input(type="checkbox", name="ks-checkbox1", value="Получать рекламные сообщения")
                    .item-media
                        i.icon.icon-form-radio
                    .item-inner
                        div Получать &nbsp;
                            a.text-primary.link-un(href="#") рекламные сообщения
            li
                label.label-radio.item-content.checked--js
                    input(type="checkbox", name="ks-checkbox", value="Я согласен стать участником")
                    .item-media
                        i.icon.icon-form-radio
                    .item-inner
                        div Я согласен стать участником &nbsp;
                            a.text-primary.link-un.external(href="#") программы бонусов и вознаграждений
        .tabs
            .page-content.tab
                .list-block.inputs-list.form-check--tckjs.margbot0.margtop10
                    .content-block-subtitle.margtop20 АЭРОЭКСПРЕСС БОНУС
                    ul
                        li
                            .item-content
                                .item-media
                                    i.icon.icon--cabinet
                                .item-inner
                                    //.item-title.floating-label Как вас называть?
                                    .item-input
                                        input.form-control(type="text", placeholder="Как вас называть?")
                        li.accordion-list--choose.list-block.margtop0.margbot0
                            .accordion-item
                                a(href="#").item-link.item-content
                                    .item-media
                                        i.icon.icon--gender
                                    .item-inner
                                        .item-title.tariff-name--js: span Пол
                                .accordion-item-content
                                    .content-block
                                        .list-block.tariff--js
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Мужской")
                                                .item-media.item-media--empty
                                                    //i.icon.icon-form-radio
                                                .item-inner
                                                    .item-title Мужской
                                            label.label-radio.item-content
                                                input(type="radio", name="ks-radio", value="Женский")
                                                .item-media.item-media--empty
                                                    //i.icon.icon-form-radio
                                                .item-inner
                                                    .item-title Женский
                        li
                            .item-content
                                .item-media
                                    i.icon.icon--birth
                                .item-inner
                                    //.item-title.floating-label День рождения
                                    .item-input
                                        input#ks-calendar-default1.form-control(type="text", placeholder="День рождения")
                        li
                            .item-content
                                .item-media
                                    i.icon.icon--city
                                .item-inner
                                    //.item-title.floating-label Город
                                    .item-input
                                        input.form-control(type="text", placeholder="Город")
                        li
                            .item-content
                                .item-media
                                    i.icon.icon--plane-up
                                .item-inner
                                    //.item-title.floating-label Полетов в год (примерно)
                                    .item-input
                                        input.form-control(type="text", placeholder="Полетов в год (примерно)")
    .margtop10
        a.btn--tckjs.btn.btn--primary.btn--full.external(href="#", disabled=true, data-text="АВТОРИЗОВАТЬСЯ") ЗАПОЛНИТЕ ВСЕ ПОЛЯ
