.page-content
    .content-block-title Расписание
    .list-block.list-block--stripped
        a(href="schedule-inner.html").external.item-content.link-grey
            .item-inner
                .item-title Павелецкий — Домодедово
            .item-after
                i.icon-arr.icon-arr--left-r
        a(href="schedule-inner.html").external.item-content.link-grey
            .item-inner
                .item-title Белорусский — Шереметьево
            .item-after
                i.icon-arr.icon-arr--left-r
        a(href="schedule-inner.html").external.item-content.link-grey
            .item-inner
                .item-title Киевский — Внуково
            .item-after
                i.icon-arr.icon-arr--left-r
