.page-content
    .content-block-title Расписание
    .list-block.margbot10
        .content-block-subtitle БЕЛОРУССКИЙ — ШЕРЕМЕТЬЕВО
        .row.pad15.middle-xs
            .left.text-xs.light Последнее обновление: 02.10.2016, 14:10
            .right
                a(href="#").item-link.external
                    i.icon--up-g
        .list-block.accordion-list.accordion-list--choose.margbot0.false.margtop0
            ul
                li.accordion-item.form-item--js
                    a(href="#").item-link.item-content
                        .item-media
                            i.icon.icon--attention
                        .item-inner
                            .item-title.text--info Смена времени отправления
                    .accordion-item-content
                        .content-block
                            .item-content
                                .item-media
                                .item-inner.light
                                    span В связи с плотным графиком движения пригородных электропоездов и поездов дальнего сообщения в районе станции Москва-Смоленская, некоторые утренние и вечерние рейсы Аэроэкспрессов прибывают и отправляются на/с 8 пути Белорусского вокзала (вместо прежнего 2-го пути). Пройти к 8 пути можно через мост, с платформы 2-го пути вокзала. Информацию об авиарейсах в режиме реального времени можно уточнить &nbsp;
                                        a.text-primary.link-un.external(href="#") на сайте аэропорта Шереметьево
                                        |  или по телефону единой справочной службы — &nbsp;
                                        a.text-primary.link-un.external(href="#") 8 (495)232-65-65.
        .row.text-center.margbot10.margtop10
            .col-33
                .text-md Отправление
            .col-33
            .col-33
                .text-md.light Прибытие
        .list-block--stripped
            .item-content.text-center.row.pad0.padleft0
                .col-33
                    .text-lg 05:30
                .col-33
                    .text-xs: i 35мин.
                .col-33
                    .text-lg.light 06:05
            .item-content.text-center.row.pad0.padleft0
                .col-33
                    .text-lg 06:00
                .col-33
                    .text-xs: i 35мин.
                .col-33
                    .text-lg.light 06:35
            .item-content.text-center.row.pad0.padleft0
                .col-33
                    .text-lg 06:30
                .col-33
                    .text-xs: i 35мин.
                .col-33
                    .text-lg.light 07:05
            .item-content.text-center.row.pad0.padleft0
                .col-33
                    .text-lg.text-warning 07:05
                .col-33
                    .text-xs: i 35мин.
                .col-33
                    .text-lg.light 07:40
            .item-content.text-center.row.pad0.padleft0
                .col-33
                    .text-lg 07:30
                .col-33
                    .text-xs: i 35мин.
                .col-33
                    .text-lg.light 08:05
            .item-content.text-center.row.pad0.padleft0
                .col-33
                    .text-lg 08:00
                .col-33
                    .text-xs: i 35мин.
                .col-33
                    .text-lg.light 08:35
            .item-content.text-center.row.pad0.padleft0
                .col-33
                    .text-lg 08:20
                .col-33
                    .text-xs: i 35мин.
                .col-33
                    .text-lg.light 09:02