.page-content
    .content-block-title Расписание
    .list-block.list-block--stripped.margbot10
        .content-block-subtitle БЕЛОРУССКИЙ — ШЕРЕМЕТЬЕВО
        .row.pad15.middle-xs
            .left.text-xs.light Последнее обновление: 02.10.2016, 14:10
            .right
                a(href="#").item-link.external
                    i.icon--up-g
        .row.text-center.margbot10.margtop0
            .col-33
                .text-md Отправление
            .col-33
            .col-33
                .text-md.light Прибытие
        .item-content.text-center.row.pad0.padleft0
            .col-33
                .text-lg 05:30
            .col-33
                .text-xs: i 35мин.
            .col-33
                .text-lg.light 06:05
        .item-content.text-center.row.pad0.padleft0
            .col-33
                .text-lg 06:00
            .col-33
                .text-xs: i 35мин.
            .col-33
                .text-lg.light 06:35
        .item-content.text-center.row.pad0.padleft0
            .col-33
                .text-lg 06:30
            .col-33
                .text-xs: i 35мин.
            .col-33
                .text-lg.light 07:05
        .item-content.text-center.row.pad0.padleft0
            .col-33
                .text-lg 07:00
            .col-33
                .text-xs: i 35мин.
            .col-33
                .text-lg.light 07:35
        .item-content.text-center.row.pad0.padleft0
            .col-33
                .text-lg 07:30
            .col-33
                .text-xs: i 35мин.
            .col-33
                .text-lg.light 08:05
        .item-content.text-center.row.pad0.padleft0
            .col-33
                .text-lg 08:00
            .col-33
                .text-xs: i 35мин.
            .col-33
                .text-lg.light 08:35
        .item-content.text-center.row.pad0.padleft0
            .col-33
                .text-lg 08:20
            .col-33
                .text-xs: i 35мин.
            .col-33
                .text-lg.light 09:02
