.page-content
    .content-block-title Тарифы
    .content-block__item
        .content-block-subtitle.text--uppercase НА САЙТЕ И В ПРИЛОЖЕНИИ
        .list-block.accordion-list.accordion-list--choose.margtop0.margbot0
            ul
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Бизнес
                            .item-after
                                b.text-lg.text--info 1000 Р
                    .accordion-item-content
                        include ../components/_t-site
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Стандартный
                            .item-after
                                b.text-lg.text--info 420 Р
                    .accordion-item-content
                        include ../components/_t-site
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Туда — Обратно
                            .item-after
                                b.text-lg.text--info 840 Р
                    .accordion-item-content
                        include ../components/_t-site
    .content-block__item
        .content-block-subtitle.text--uppercase В КАССАХ И БИЛЕТНЫХ АВТОМАТАХ
        .list-block.accordion-list.accordion-list--choose.margtop0.margbot0
            ul
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Стандартный
                            .item-after
                                b.text-lg.text--info 470 Р
                    .accordion-item-content
                        include ../components/_t-till
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Туда — Обратно
                            .item-after
                                b.text-lg.text--info 940 Р
                    .accordion-item-content
                        include ../components/_t-till
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Плюс метро
                            .item-after
                                b.text-lg.text--info 530 Р
                    .accordion-item-content
                        include ../components/_t-till
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Межаэропортовый
                            .item-after
                                b.text-lg.text--info 1000 Р
                    .accordion-item-content
                        include ../components/_t-till
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Командировочный
                            .item-after
                                b.text-lg.text--info 1050 Р
                    .accordion-item-content
                        include ../components/_t-till
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Семейный
                            .item-after
                                b.text-lg.text--info 950 Р
                    .accordion-item-content
                        include ../components/_t-till
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Групповой
                            .item-after
                                b.text-lg.text--info 990 Р
                    .accordion-item-content
                        include ../components/_t-till
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Детский (с 5 до 7 лет)
                            .item-after
                                b.text-lg.text--info 130 Р
                    .accordion-item-content
                        .content-block.text-md.b-top1
                            .content-block-inner
                                p.text--danger 1 поездка
                                p Действителен в соответствии с направлением и датой, указанными в проездном документе.
                            .false
                                .content-block-inner
                                    p Оформляется только в пункте отправления в день поездки.
                                    p Для детей до 5 лет проезд бесплатный при предъявлении документа, удостоверяющего возраст  ребенка. Тарифы в стандартный класс продаются без фиксированного посадочного места.
    .content-block__item
        .content-block-subtitle.text--uppercase НА ТУРНИКЕТАХ
        .list-block.accordion-list.accordion-list--choose.margtop0.margbot0
            ul
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Стандартный
                            .item-after
                                b.text-lg.text--info 423** Р
                    .accordion-item-content
                        .content-block.text-md.b-top1
                            a.btn.btn--primary.btn--full.external(href="#") КУПИТЬ БИЛЕТ
                            .content-block-inner
                                p.text--danger 1 поездка
                                p Действителен в соответствии с датой, временем и направлением, указанными в проездном документе.
                                p: i **До 31 декабря 2016г. при оплате проезда на турникете по технологии MasterCard PayPass предоставляется скидка 10%
    .content-block__item
        .content-block-subtitle.text--uppercase АБОНЕМЕНТЫ
        .list-block.accordion-list.accordion-list--choose.margtop0.margbot0
            .false.margtop10
                .content-block-inner.text-md
                    p При оформлении абонемента с пассажира единовременно взимается залоговая стоимость карты (пластикового носителя) в размере 50 рублей. Залоговая стоимость возвращается пассажиру по первому требованию, при условии возврата карты.
            ul
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Абонемент 10
                            .item-after
                                b.text-lg.text--info 3500 Р
                    .accordion-item-content
                        include ../components/_t-abon
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Абонемент 20
                            .item-after
                                b.text-lg.text--info 5000 Р
                    .accordion-item-content
                        include ../components/_t-abon
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Абонемент 30
                            .item-after
                                b.text-lg.text--info 6000 Р
                    .accordion-item-content
                         include ../components/_t-abon
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Абонемент 50
                            .item-after
                                b.text-lg.text--info 9000 Р
                    .accordion-item-content
                        include ../components/_t-abon
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Утро 20
                            .item-after
                                b.text-lg.text--info 3000 Р
                    .accordion-item-content
                        include ../components/_t-abon
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Вечер 20
                            .item-after
                                b.text-lg.text--info 3000 Р
                    .accordion-item-content
                        include ../components/_t-abon
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Утро + Вечер 50
                            .item-after
                                b.text-lg.text--info 7500 Р
                    .accordion-item-content
                        .content-block.text-md.b-top1
                            .content-block-inner
                                p.text--danger 50 поездок
                                p Блокировка на 10 минут после каждого использования турникета Аэроэкспресс.
                                p Действует в течение 90 суток с даты оформления.
                                p: b Действителен для рейсов отправлением:
                                p С Белорусского вокзала - в Шереметьево с 05:30 по 07:30; с 18:30 по 00:30
                                p Из Шереметьево - на Белорусский вокзал с 05:00 по 07:30; с 19:00 по 00:30
                                p С Киевского вокзала - во Внуково с 06:00 по 07:00; с 19:00 по 00:00
                                p Из Внуково - на Киевский вокзал с 06:00 по 07:00; 19:00 по 00:00
                                p С Павелецкого вокзала - в Домодедово с 06:00 по 07:30; с 18:00 по 00:30
                                p Из Домодедово - на Павелецкий вокзал с 6:00 по 07:30; с 19:00 по 00:00
    .content-block__item
        .content-block-subtitle.text--uppercase УСЛУГИ
        .list-block.accordion-list.accordion-list--choose.margtop0.margbot0
            ul
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Багаж, в т.ч. телевизор
                            .item-after
                                b.text-lg.text--info 100 Р
                    .accordion-item-content
                        include ../components/_t-service
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Живность
                            .item-after
                                b.text-lg.text--info 100 Р
                    .accordion-item-content
                        include ../components/_t-service
                li.accordion-item
                    a(href="#").item-link.item-content.high-block.item-content
                        .item-inner
                            .item-title.text--info Велосипед
                            .item-after
                                b.text-lg.text--info 50 Р
                    .accordion-item-content
                        include ../components/_t-service