.page-content
    .content-block-title Тарифы
    .list-block.list-block--stripped.arrow-block
        a(href="tariffs-menu.html").external.item-content.link-grey
            .item-inner
                .item-title На сайте и в приложении
        a(href="tariffs-menu.html").external.item-content.link-grey
            .item-inner
                .item-title На кассах и в билетных автоматах
        a(href="tariffs-menu.html").external.item-content.link-grey
            .item-inner
                .item-title На турникетах