.page-content
    .content-block-title Тарифы
    .content-block__item
        .content-block-subtitle.text--uppercase НА САЙТЕ И В ПРИЛОЖЕНИИ
        .list-block.arrow-block.accordion-list.accordion-list--choose.margtop0.marg-list
            ul.text-md 
                li.accordion-item
                    a(href="tariffs-inner.html").item-link.item-content.high-block.item-content.external
                        .item-inner
                            .item-title.text--info Бизнес
                            .item-after
                                b.text-lg.text--info 1000 Р
                li.accordion-item
                    a(href="tariffs-inner.html").item-link.item-content.high-block.item-content.external
                        .item-inner
                            .item-title.text--info Стандартный
                            .item-after
                                b.text-lg.text--info 420 Р
                li.accordion-item
                    a(href="tariffs-inner.html").item-link.item-content.high-block.item-content.external
                        .item-inner
                            .item-title.text--info Туда — Обратно
                            .item-after
                                b.text-lg.text--info 840 Р
    