extends layouts/_default-inner

block title
    title Case__fly
    - var title = 'Main'

block pageName
    -var pageName = "inner"

block siteHeader
    include partials/_header-i

block siteMain
    include pages/_auth-f

block siteFooter
    include partials/_footer
