//- Custom Configuration
block config
  - var baseUrl = '/'

doctype html
html(lang="en")

  include ../mixins/_mixins

  head
    include ../partials/_head

  block pageName
    -var pageName = "main"

  body(class="page-#{pageName}")
    <!--[if lt IE 9]>
    p.browsehappy
      | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
      a(href="http://browsehappy.com/", target="_blank") современных браузеров.
      |  Это бесплатно и займет всего несколько минут.
    <![endif]-->

    main.page-main
        .page-content
            //- header
            block siteHeader
            //- main
            block siteMain
            //- footer
            block siteFooter

    block scripts
      <!--[if lt IE 9]>
      script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
      <![endif]-->
      //- build:js(./app/) scripts/plugins.js -->
      //- bower:js
      script(src='../bower_components/jquery/dist/jquery.js')
      //- endbower
      script(src='scripts/plugins/framework7.min.js')
      script(src='scripts/plugins/jquery.maskedinput.min.js')
      //- endbuild -->
      //- build:js(.tmp) scripts/main.js -->
      script(src="scripts/main.js")
      //- endbuild -->
